
<div class="p-fluid  py-0  col-12 mt-2">
    <form [formGroup]="registerFormProveedor" >
        <div class="flex grid mt-2">
            
            <div class="sm:col-6 lg:col-12 md:col-6"> 
                <div class="flex">
                    <label class="block text-900 font-semibold mb-1">Cliente <span class="text-red-500 font-bold"> * </span></label>                            
                    <i class="pi pi-user-plus cursor-pointer text-blue-600" style="margin-left: 10px;" pTooltip="Nuevo Cliente"
                                tooltipPosition="right" (click)="NuevoPersona();"></i> 
                </div> 
                <span>
                    <p-dropdown [options]="lstProveedores" placeholder="Seleccionar...!"  formControlName="idpersona" class="p-inputtext-sm"
                    optionLabel="razonsocial" optionValue="idcliente" appendTo="body" (onChange)="getContactos($event.value)" ></p-dropdown>            
                </span>
            </div>                         
            <div class="sm:col-6 lg:col-12 md:col-3 col-8 -mt-2">
                <div class="flex">
                    <label class="block text-900 font-semibold mb-1">Contacto <span class="text-red-500 font-bold"> * </span></label>
                    <i class="pi pi-user-plus cursor-pointer text-blue-600" style="margin-left: 10px;" pTooltip="Alta rapida Contacto"
                                    tooltipPosition="right" (click)="AgregarContacto();" ></i>
                </div>                            
                <span>
                    <p-dropdown [options]="lstContacto" formControlName="idcontacto" placeholder="Seleccionar Contacto" optionLabel="snombrecontacto" 
                    optionValue="idcontacto" appendTo="body" class="p-inputtext-sm"></p-dropdown>
                </span>
            </div>       
           
        </div>
    </form>
    <div class="flex justify-content-end">
        <button pButton icon="pi pi-save" label="Grabar" class="p-button-primary w-auto" (click)="guardarCliente()"></button>
    </div>
</div>

<p-dialog [(visible)]="contactoVisible" [modal]="true" class="h-full" [closeOnEscape]="false" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'1960px': '75vw'}">
    <p-header> <i class="pi pi-user" style="margin-right: 10px;"></i> Agregar Contacto </p-header>

        <form [formGroup]="registerFormContacto" (ngSubmit)="guardarContacto()">
            <div class="p-fluid py-4 border-1 surface-border mb-3 p-3 border-round mt-2 h-full">
                <div class="mb-3 field">
                    <label class="font-semibold">Nombre</label>
                    <input pInputText type="text" formControlName="nomcontacto" />
                </div>
                <div class="mb-3 field">
                    <label class="font-semibold">Email</label>
                    <input pInputText type="email" formControlName="email1"  class="bg-white"/>
                    
                </div>
                <div class=" mb-3 field">
                    <div class="flex">
                        <label class="font-semibold">Cargo</label>
                    </div>
                    <span class="p-fluid">
                        <input pInputText type="text" formControlName="cargo"/>
                    </span>
                </div>
                <div class="mb-3 field">
                    <label class="font-semibold">Celular</label>
                    <input pInputText type="text" formControlName="telf1"/>
                </div>
            </div>
            <div class="flex justify-content-end">
                <button pButton icon="pi pi-check" label="Agregar" type="submit" class="p-button-primary w-auto"></button>
            </div>
        </form>
</p-dialog>

