<div class="h-screen flex flex-column bg-cover" style="background: url('assets/layout/images/pages/login-bg.jpg')">
    <div class="align-self-center mt-auto mb-auto">
        <div class="text-center flex flex-column border-1 border-round-md surface-border surface-card px-3">
            <div>
                <img class="h-20rem" src="assets/layout/images/logo_color_fon_blanco.png" />
            </div>
            <div class="text-color-secondary mb-5 px-7">Ingrese su usuario de acceso, por favor!</div>
            <ng-container *ngIf="visibleNombre else visiblePass">
                <app-c-auth-usuario (OB_pass)="getPasoPass($event)" (OS_nombreUser)="getUsuario($event)" />
            </ng-container>
            <ng-template #visiblePass>
                <app-c-auth-clave [IS_nombreUser]="nombreUsuario" />
            </ng-template>
        </div>
    </div>
</div>

<p-toast></p-toast>