::ng-deep .p-dialog .p-dialog-header {
    background-color: #0288d1; /* Cambia este color según tu preferencia */
    height: 3.5rem;
    color: white;

    .p-dialog-header-icons{
        .p-dialog-header-icon{
            color: white;
        }
      }
}



//   .testDialog {
//     .p-dialog-header{
//         background:#0288d1;
//         height: 3.5rem;
//         color: white;

//       .p-dialog-header-icons{
//         .p-dialog-header-icon{
//             color: white;
//         }
//       }
//     }
//   }