<div class="card m-4">
    <div class="grid mt-2">
        <div class="flex justify-content-between col-12 -mt-3 gap-2">                                  
            <div class="mb-1 border-1 surface-border py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                <span class="text-base font-semibold">CUENTAS POR COBRAR</span>
            </div>                         
        </div>
    </div>

    <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid lg:col-9 col-12 text-sm">
            <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
                <label class="font-semibold text-blue-600 text-base">Desde</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaInicio" formControlName="fecini"
                    [readonlyInput]="true" appendTo="body" class="p-inputtext-sm">
                </p-calendar>
            </div>
            <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
                <label class="font-semibold text-blue-600 text-base">Hasta</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fecfin"
                    [readonlyInput]="true" appendTo="body" class="p-inputtext-sm"></p-calendar>
            </div>
            <div class="sm:col-12 lg:col-3 md:col-6 col-12 -mt-4">                            
                <label class=" font-semibold text-blue-600 text-base">Cliente</label>                            
                <span>
                    <p-dropdown [options]="lstProveedores"  formControlName="idproveedor" class="p-inputtext-sm"
                    optionLabel="nomcomercial" optionValue="idcliente" appendTo="body"></p-dropdown>            
                </span>
            </div> 
            <div class="sm:col-12 lg:col-2 md:col-6 col-12 -mt-4">                            
                <label class="font-semibold text-blue-600 text-base">Moneda</label>  
                <span class="p-fluid">
                    <p-dropdown [options]="lstMonedas" formControlName="idmoneda" optionLabel="desmoneda" 
                    optionValue="idmoneda" appendTo="body" class="p-inputtext-sm" ></p-dropdown>
                </span> 
            </div> 
           
            <div class="sm:col-12 lg:col-2 md:col-6 col-12 -mt-4">                            
                <label class="font-semibold text-blue-600 text-base">Estado</label>  
                <span class="p-fluid">
                    <p-dropdown [options]="lstEstado" formControlName="estado" placeholder="Seleccionar..." optionLabel="name" 
                    optionValue="value" appendTo="body" class="p-inputtext-sm" ></p-dropdown>
                </span> 
            </div> 
            
            <div class="field -mt-2 gap-2">
                <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                    class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto h-auto" icon="pi pi-search"></button>
                <button pButton type="button" (click)="getExportarExcel()" pTooltip="Exportar Excel" tooltipPosition="bottom" 
                    class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto bg-green-500 ml-2" icon="pi pi-file-excel"></button>
            </div>
    </form> 

    <p-table #dt1 [value]="lstPorCobrar" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
    [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
    styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-striped">
    <ng-template pTemplate="header">
        <tr class="text-sm">
            <th style="width: 10px" class="bg-teal-50 border-1">
                <div class="flex justify-content-between align-items-center">
                    N°
                </div>
            </th>
            <th style="width: 100px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    CÓDIGO <br> PROYECTO
                </div>
            </th>
            <th style="width: 60px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    N° DOCUMENTO
                </div>
            </th>
            <th style="width: 60px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    FECHA <br> EMISIÓN
                </div>
            </th>
            <th style="width: 60px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    FECHA <br> VENC.
                </div>
            </th>
            <th style="width: 60px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    RUC
                </div>
            </th>
            <th [ngStyle]="{'width':'120px'}" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    CLIENTE
                </div>
            </th>
            <th style="width: 70px;" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'70px','text-align':'center'}">
                    IMPORTE <br> TOTAL
                </div>
            </th>
            <th style="width: 70px;" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'70px','text-align':'center'}">
                    MONTO NETO <br> A COBRAR
                </div>
            </th>
            <th style="width: 70px;" class="bg-teal-50 border-1" > 
                <div [ngStyle]="{'width':'70px','text-align':'center'}">
                    DETRACCIÓN S/
                </div>
            </th>
            <!-- <th style="width: 60px;" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'60px','text-align':'center'}">
                    SALDO <br> DETRACCIÓN
                </div>
            </th> -->
            <th style="width: 50px; text-align:center" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    MONEDA
                </div>
            </th>
            <th style="width: 70px;" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'70px','text-align':'center'}">
                    GLOSA
                </div>
            </th>
            <th style="width: 50px" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'80px','text-align':'center'}">
                    CONDICIÓN <br> DE PAGO
                </div>
            </th>
            <th style="width: 50px" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'50px','text-align':'center'}">
                    DÍAS POR <br> VENCER
                </div>
            </th>
            <th style="width: 50px" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'80px','text-align':'center'}">
                    ESTADO DE <br> COBRO
                </div>
            </th>
            <th style="width: 50px" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'80px','text-align':'center'}">
                    IMPOR TOTAL <br> COBRADO
                </div>
            </th>
            <th style="width: 50px" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'80px','text-align':'center'}">
                    SALDO POR  <br> COBRAR
                </div>
            </th>
            <th style="width: 80px;" class="bg-teal-50 border-1">
                <div class="flex justify-content-between align-items-center">
                    ACCIONES
                </div>
            </th>
        </tr>
        <tr >
            <th></th>
            <th *ngFor="let col of cols">
                <input pInputText type="text" (input)="dt1.filter($any($event.target).value, col.field, col.filterMatchMode)" class="w-full h-2rem"/>                    
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr class="text-sm">
            <td [ngStyle]="{'width':'10px'}">
                {{rowIndex + 1}}
            </td>
            <td>
                <div [ngStyle]="{'width':'100px'}">
                    {{data.codigoproyecto}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'70px'}">
                    {{data.nrofactura}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'60px'}">
                    {{data.fecemision}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'60px'}">
                    {{data.fecvencimiento}}
                </div>
            </td>
            <td >
                <div [ngStyle]="{'width':'50px'}">
                    {{data.nrodocumento}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'120px'}">
                    {{data.nomcomercial | uppercase}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'80px', 'text-align':'right'}">
                    {{data.s_monto_total | number: '0.2-2'}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'80px', 'text-align':'right'}">
                    {{data.s_monto_neto_CTB | number: '0.2-2' }}
                </div>
            </td>
            <td>
                <div class="flex gap-1 align-items-center">
                    <div [ngStyle]="{'width':'50px', 'text-align':'right'}" >
                        {{data.s_monto_detraccion_mn_CTB | number: '0.2-2' }}
                    </div>
                    <button pButton pRipple type="button" icon="pi pi-eye" tooltipPosition="bottom" pTooltip="Ver Pagos" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-orange-500" (click)="onVerDetra(data)"></button>
                    <button *ngIf="data.saldo_detraccion !== 0" pButton pRipple type="button" icon="pi pi-money-bill" tooltipPosition="bottom" pTooltip="Pagar Detraccion" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-green-500 " (click)="onPagarDetra(data)"></button>           
                </div>                
            </td>
            <!-- <td>
                <div [ngStyle]="{'width':'60px', 'text-align':'right'}">
                    {{data.saldo_detraccion | number: '0.2-2' }}
                </div>
            </td> -->
            <td>
                <div [ngStyle]="{'width':'50px', 'text-align':'center'}">
                    {{data.simbmoneda }}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'50px', 'text-align':'center'}">
                    {{data.observacion }}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'50px', 'text-align':'center'}">
                    {{data.desformapago }}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'50px', 'text-align':'right'}">
                    {{data.nrodiasporven }}
                </div>
            </td>
            <td>          
                <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                    <p-tag [value]="data.nomestado" [severity]="data.serevity_estado"></p-tag>
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'70px','text-align':'right'}">
                    {{data.s_monto_recaudado | number: '0.2-2' }}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'70px','text-align':'right'}">
                    {{data.saldo_documento | number: '0.2-2' }}
                </div>
            </td>
            <td>
                <div class="flex align-items-center m:justify-content-end">
                    <button pButton pRipple type="button" icon="pi pi-eye" tooltipPosition="bottom" pTooltip="Ver Pagos" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="onVer(data)"></button>
                    <button *ngIf="data.saldo_documento !== 0" pButton pRipple type="button" icon="pi pi-money-bill" tooltipPosition="bottom" pTooltip="Registrar Pagos" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-green-500 " (click)="onPagar(data)"></button>
               
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="12">No se encontraron registros.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr>
            <td colspan="12">Cargando datos. Espere por favor.</td>
        </tr>
    </ng-template>
</p-table>
<div class="flex justify-content-end m-2 p-2 gap-3">
    <div>
        <p-tag class="text-4xl" value="PENDIENTE" severity="primary"></p-tag>
        <div class="gap-2">
            <span class="font-bold text-xl">S/</span>
            <span class="ml-2 text-lg">{{saldo_documento_sol | number: '0.2'}}</span>
        </div>
        <div class="gap-2">
            <span class="font-bold text-xl">$</span>
            <span class="ml-2 text-lg">{{saldo_documento_dol | number: '0.2'}}</span>
        </div>
        
    </div>
    <div>
        <p-tag class="text-3xl" value="PAGADO" severity="success"></p-tag>
        <div class="gap-3">
            <span class="font-bold text-xl">S/</span>
            <span class="ml-2 text-lg">{{s_monto_recaudado_sol | number: '0.2'}}</span>
        </div>
        <div class="gap-3">
            <span class="font-bold text-xl">$</span>
            <span class="ml-2 text-lg">{{s_monto_recaudado_dol | number: '0.2'}}</span>
        </div>
    </div>
  
</div>

</div>

<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '350px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>