
<div class="layout-footer h-4rem footer">
    <div>
        <!-- <img [src]="'assets/layout/images/cloudZ.svg'" class="h-5rem p-2"> -->

    </div>
    <div class="flex gap-2">
        <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div>
