<div>
    <div *ngIf="verbtnGrabar" class="flex mb-2 -mt-3 gap-2 border-1 border-round surface-border p-2 bg-blue-50">
        <button *ngIf="verbtnGrabar" pButton icon="pi pi-save" label="Grabar" class="p-button-primary w-auto h-2rem"
            (click)="guardarOC()"></button>
        <button *ngIf="verbtnPreliminar" pButton icon="pi pi-file" label="Vista Preliminar" class="p-button-outlined w-auto h-2rem" (click)="vistaPreliminar()"></button>        
        <p-splitButton *ngIf="verbtnAcciones" label="Acciones" [model]="menuItems" appendTo="body" styleClass="p-button-success h-2rem"></p-splitButton>
    </div>
    <div class="card p-2">
        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-spin pi-cog"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Datos Generales
                        </span>
                    </div>
                </ng-template>

                <form [formGroup]="registerFormRegistro"
                    class="p-fluid grid lg:col-7 col-12 border-1 border-round surface-border m-2">
                    <div class="sm:col-6 lg:col-3 md:col-12 col-6 justify-content-end h-4rem field">
                        <div class="flex mb-1">
                            <label class="block text-900">Fecha Registro</label>
                            <i class="pi pi-calendar text-orange-600" style="margin-left: 5px"></i>
                        </div>
                        <span class="p-input-icon-left w-auto p-fluid" style="height: 2rem">
                            <p-calendar formControlName="fechaingreso" dateFormat="dd/mm/yy" [showTime]="false"
                                [showIcon]="false" [required]="true" inputId="start"
                                inputStyleClass="w-full cursor-pointer" appendTo="body" class="p-inputtext-sm"
                                [readonlyInput]="true"></p-calendar>
                        </span>
                    </div>
                    <div class="lg:col-3"></div>
                    <div class="sm:col-6 lg:col-3 md:col-12 col-6 h-4rem field">
                        <label class="block text-900 mb-1">ID Registro</label>
                        <span class="p-fluid">
                            <input pInputText type="text" class="surface-300 p-inputtext-sm"
                                formControlName="idordencompra" readonly="true" />
                        </span>
                    </div>
                    <div class="lg:col-3"></div>
                    <div class="sm:col-6 lg:col-3 md:col-3 col-6 h-4rem">
                        <label class="block text-900 mb-1">RUC
                            <span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-input-icon-right">
                            <i *ngIf="verItems" class="pi pi-search cursor-pointer" pTooltip="Busqueda por RUC"
                                tooltipPosition="bottom" (click)="getBusquedaRUC()"></i>
                            <input pInputText type="text" formControlName="nrodocumento" [readonly]="onlyRead"
                                class="p-inputtext-sm" maxlength="11"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                        </span>
                    </div>
                    <div class="col-4 sm:col-6 lg:col-6 md:col-6 col-6 h-4rem">
                        <div class="flex">
                            <label class="block text-900 mb-1">Proveedor
                            </label>
                            <i *ngIf="verItems" class="pi pi-user-plus cursor-pointer text-blue-600"
                                style="margin-left: 10px" pTooltip="Nuevo Proveedor" tooltipPosition="right"
                                (click)="NuevoPersona()"></i>
                        </div>

                        <span inputStyleClass=" surface-300">
                            <p-dropdown [options]="lstProveedores" placeholder="Proveedor..."
                                formControlName="idproveedor" class="p-inputtext-sm" optionLabel="razonsocial"
                                optionValue="idcliente" appendTo="body" [readonly]="onlyRead" [filter]="true"
                                (onChange)="getDatos($event.value)"></p-dropdown>
                        </span>
                    </div>
                    <div class="lg:col-3"></div>
                    <div class="sm:col-12 lg:col-9 md:col-3 col-12 h-4rem field mt-3">
                        <label class="block text-900 mb-1">Dirección</label>
                        <span class="p-fluid">
                            <input pInputText type="text" formControlName="direccion" readonly="true"
                                class="p-inputtext-sm surface-100" />
                        </span>
                    </div>
                    <div class="lg:col-3"></div>

                    <div class="sm:col-4 lg:col-3 md:col-3 col-6 h-4rem field mt-1">
                        <label class="block text-900 mb-1">Tipo Documento<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstComprobante" formControlName="tipodoc_ctb"
                                placeholder="Seleccionar Origen" optionLabel="nomitemsunat" optionValue="codsunat"
                                [readonly]="onlyRead" class="p-inputtext-sm"></p-dropdown>
                        </span>
                    </div>
                    <div class="sm:col-4 lg:col-2 md:col-3 col-6 h-4rem field mt-1">
                        <label class="block text-900 mb-1">Serie<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid">
                            <input pInputText type="text" formControlName="nroserie_ctb" [readonly]="onlyRead"
                                class="p-inputtext-sm" />
                        </span>
                    </div>
                    <div class="sm:col-4 lg:col-3 md:col-3 col-6 h-4rem field mt-1">
                        <label class="block text-900 mb-1">N° Documento<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid">
                            <input pInputText type="text" formControlName="nrodocumento_ctb" [readonly]="onlyRead"
                                class="p-inputtext-sm" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                        </span>
                    </div>
                    <div class="lg:col-3"></div>
                    <div class="sm:col-4 lg:col-3 md:col-3 col-6 h-4rem field -mt-1">
                        <label class="block text-900 mb-1">Moneda
                            <span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstMonedas" formControlName="idmoneda"
                                placeholder="Seleccionar Moneda" optionLabel="desmoneda" optionValue="idmoneda"
                                appendTo="body" [readonly]="onlyRead" class="p-inputtext-sm"></p-dropdown>
                        </span>
                    </div>
                    <div class="sm:col-4 lg:col-2 md:col-3 col-6 h-4rem -mt-1">
                        <label class="block text-900 mb-1">Tipo Cambio<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <input pInputText type="text" formControlName="tc" readonly="true"
                            class="p-inputtext-sm surface-100" />
                    </div>
                    <div class="sm:col-4 lg:col-3 md:col-3 col-6 -mt-1">
                        <label class="block text-900 mb-1">Condición de Pago
                            <span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span>
                            <p-dropdown [options]="lstTermino" formControlName="codformapago" optionLabel="valoritem"
                                placeholder="Seleccionar..." optionValue="iditem" appendTo="body" [readonly]="onlyRead"
                                class="p-inputtext-sm"></p-dropdown>
                        </span>
                    </div>
                    <div class="lg:col-4"></div>
                    <div class="col-6 sm:col-4 lg:col-3 md:col-12 h-4rem field -mt-3">
                        <div class="flex mb-1">
                            <label class="block text-900">Fec. Emisión</label>
                            <i class="pi pi-calendar text-orange-600" style="margin-left: 5px"></i>
                        </div>
                        <span class="p-input-icon-left w-auto p-fluid" style="height: 2rem">
                            <p-calendar formControlName="fecemision" dateFormat="dd/mm/yy" [showTime]="false"
                                [showIcon]="false" [required]="true" inputId="start"
                                inputStyleClass="w-full cursor-pointer" appendTo="body" class="p-inputtext-sm"
                                [minDate]="minimaFechaDesde" [maxDate]="maximaFechaDesde" [readonlyInput]="true"
                                (onSelect)="changeFechaDesde($event)"></p-calendar>
                        </span>
                    </div>

                    <div class="col-6 sm:col-4 lg:col-3 md:col-12 h-4rem field -mt-3">
                        <div class="flex mb-1">
                            <label class="block text-900">Fec. Vencimiento</label>
                            <i class="pi pi-calendar text-orange-600" style="margin-left: 5px"></i>
                        </div>
                        <span class="p-input-icon-left w-auto p-fluid" style="height: 2rem">
                            <p-calendar formControlName="fecvencimiento" dateFormat="dd/mm/yy" [showTime]="false"
                                [showIcon]="false" [required]="true" inputId="start"
                                inputStyleClass="w-full cursor-pointer" appendTo="body" class="p-inputtext-sm"
                                [minDate]="minimaFechaHasta" [readonlyInput]="true"
                                (onSelect)="changeFechaHasta($event)"></p-calendar>
                        </span>
                    </div>

                    <div class="sm:col-4 lg:col-2 md:col-3 col-6 h-4rem field -mt-3">
                        <label class="block text-900 mb-1">N° Días</label>
                        <span class="p-fluid">
                            <input pInputText type="text" formControlName="nrodias" (blur)="addDiasFec()"
                                (keydown.enter)="addDiasFec()" [readonly]="onlyRead" class="p-inputtext-sm"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                        </span>
                    </div>

                    <p-divider class="sm:col-12 lg:col-9 md:col-6 col-12 -mt-2 -mb-4">
                    </p-divider>
                    <!-- <div class="lg:col-3"></div>
                    <div class="sm:col-12 lg:col-5 md:col-12 field h-4rem mt-1">
                        <label class="text-900 mb-1">Cuenta Contable<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstCtaCtble" formControlName="codctactble"
                                placeholder="Seleccionar..." optionLabel="s_desctactble" class="p-inputtext-sm"
                                optionValue="codctactble" appendTo="body" autoWidth="false" [readonly]="onlyRead"
                                [filter]="true"></p-dropdown>
                        </span>
                    </div>
                    <div class="sm:col-6 lg:col-4 md:col-12 col-6 field h-4rem mt-1">
                        <label class="block text-900 mb-1">Centro Costos</label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstCentroCosto" formControlName="idcentrocosto"
                                placeholder="Seleccionar..." optionLabel="descentrocosto" class="p-inputtext-sm"
                                optionValue="idcentrocosto" appendTo="body" autoWidth="false"
                                [readonly]="onlyRead"></p-dropdown>
                        </span>
                    </div>
                    <div class="lg:col-3"></div> -->
                    <div class="sm:col-12 lg:col-5 md:col-12 h-4rem field">
                        <label class="text-900 mb-1">Motivo <span class="text-red-500 font-bold"> * </span></label>
                        <span>
                            <p-dropdown [options]="lstCategoriaDoc" formControlName="idcategoria" optionLabel="nomcategoria" placeholder="Seleccionar..."
                                optionValue="idcategoria" appendTo="body" class="p-inputtext-sm" [filter]="true"></p-dropdown>
                        </span>
                    </div>
                    <div class="lg:col-7"></div>
                    <div class="sm:col-6 lg:col-3 md:col-12 col-6 h-4rem field">
                        <label class="block text-900 mb-1">Origen</label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstOrigen" formControlName="codtipodoc"
                                placeholder="Seleccionar Origen" optionLabel="nomtipoproyecto" optionValue="codproceso"
                                (onChange)="getOrigen($event.value)" appendTo="body" [readonly]="onlyRead"
                                class="p-inputtext-sm"></p-dropdown>
                        </span>
                    </div>
                    <div *ngIf="verProyecto" class="sm:col-6 lg:col-6 md:col-12 col-6 field h-4rem">
                        <label class="block text-900 mb-1">Proyecto<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstProyectos" formControlName="idproyecto"
                                placeholder="Seleccionar Proyecto..." optionLabel="s_nomproyecto" class="p-inputtext-sm"
                                optionValue="idproyecto" appendTo="body" autoWidth="false" [readonly]="onlyRead"
                                (onChange)="changeProyecto($event.value)" [filter]="true"></p-dropdown>
                        </span>
                    </div>
                    <div *ngIf="verOportunidad" class="sm:col-6 lg:col-6 md:col-12 col-6 field h-4rem mt-1">
                        <label class="block text-900 mb-1">Oportunidad<span class="text-red-500 font-bold">
                                *
                            </span></label>
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstOportunidades" formControlName="ref01"
                                placeholder="Seleccionar..." optionLabel="titulo" class="p-inputtext-sm"
                                optionValue="id" appendTo="body" autoWidth="false" [readonly]="onlyRead"
                                [filter]="true"></p-dropdown>
                        </span>
                    </div>
                    <div class="lg:col-3"></div>
                    <div class="sm:col-6 lg:col-4 md:col-12 col-6 h-4rem field">
                        <label class="block text-900 mb-1">N° OC/OS</label>
                        <span class="p-fluid">
                            <p-dropdown [options]="lstOrdenC" formControlName="idordencompra_origen_ctb"
                                placeholder="Seleccionar Orden" optionLabel="codigonroorden" optionValue="idordencompra"
                                appendTo="body" [readonly]="onlyRead" class="p-inputtext-sm"
                                (onChange)="changeOC($event.value)"></p-dropdown>
                        </span>
                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-list"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Detalle
                        </span>
                    </div>
                </ng-template>
                <form [formGroup]="registerFormRegistro"
                    class="p-fluid grid lg:col-9 border-1 border-round surface-border m-2">
                    <div class="sm:col-6 lg:col-2 md:col-12 h-4rem field">
                        <label class="text-900 mb-1">B.Imponible</label>
                        <span class="p-fluid">
                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm" inputStyleClass="surface-100 text-right" 
                            formControlName="s_monto_valor_venta_CTB" (blur)="prcMontosCabecera()" (keydown.enter)="prcMontosCabecera()"></p-inputNumber>
                        </span>
                    </div>
                    <div class="sm:col-6 lg:col-2 md:col-12 h-4rem field">
                        <label class="text-900 mb-1">IGV</label>
                        <span class="p-fluid">
                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm" (blur)="prcMontosCabecera()" (keydown.enter)="prcMontosCabecera()"
                                inputStyleClass="surface-100 text-right" formControlName="s_monto_igv_CTB"></p-inputNumber>
                        </span>
                    </div>
                    <div class="sm:col-6 lg:col-2 md:col-12 h-4rem field">
                        <label class="text-900 mb-1">Total</label>
                        <span class="p-fluid">
                            <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm" (blur)="prcMontosCabecera()" (keydown.enter)="prcMontosCabecera()"
                                inputStyleClass="surface-100 text-right" formControlName="s_monto_total_CTB"></p-inputNumber>
                        </span>
                    </div>
                    <div class="sm:col-6 lg:col-2 md:col-3 h-4rem field">
                        <label class="text-900 mb-1">% Detracción</label>
                        <span class="p-fluid">
                            <p-inputNumber class="mt-1" formControlName="porc_detraccion" locale="es-PE" mode="decimal"
                                [minFractionDigits]="0" name="porc_detraccion" [min]="0" [max]="99"
                                class="p-inputtext-sm" [readonly]="onlyRead"
                                inputStyleClass="text-right"></p-inputNumber>
                        </span>
                    </div>
                    <div class="sm:col-6 lg:col-2 md:col-12 h-4rem field">
                        <label class="text-900 mb-1">Monto Detracción S/</label>
                        <p-inputNumber mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm"
                            formControlName="monto_detraccion_mn_CTB" [readonly]="onlyRead"
                            inputStyleClass="text-right"></p-inputNumber>
                    </div>
                    <div class="sm:col-6 lg:col-2 md:col-12 h-4rem field">
                        <label class="text-900 mb-1">Monto Neto Pago</label>
                        <p-inputNumber mode="decimal" [minFractionDigits]="2" inputStyleClass="surface-100 text-right"
                            class="p-inputtext-sm" formControlName="monto_pen_pago" [readonly]="true"></p-inputNumber>
                    </div>
                </form>
                <!-- <div class="lg:col-9 -mt-6 -mb-7">
                        <p-divider class="sm:col-12 lg:col-9 md:col-6">                       
                        </p-divider>
                    </div> -->
                <div class="ml-2 lg:col-9 border-1 border-round surface-border">
                    <p-table [value]="lstItemOC" responsiveLayout="stack" [breakpoint]="'960px'"
                        [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" styleClass="p-datatable-sm ">
                        <ng-template pTemplate="caption">
                            <div *ngIf="verItems" class="flex gap-2 mb-2 justify-content-between align-items-center">
                                <div class="flex gap-2">
                                    <button pButton class="p-button-outlined w-auto h-2rem" pTooltip="Agregar Item"
                                        icon="pi pi-plus" label="Agregar" (click)="getItem([], 0)"></button>
                                    <button pButton class="p-button-outlined w-auto h-2rem text-orange-400"
                                        pTooltip="Recuperar Items de la OC" icon="pi pi-refresh" label="Recuperar"
                                        (click)="recuperarItems()"></button>
                                </div>

                                <div class="flex gap-2">
                                    <button *ngIf="!checkVisible" pButton
                                        class="p-button-outlined w-auto h-2rem text-green-500"
                                        pTooltip="Seleccionar Todos los Items" icon="pi pi-check-square"
                                        (click)="seleccionarTodo(1)"></button>
                                    <button *ngIf="checkVisible" pButton
                                        class="p-button-outlined w-auto h-2rem text-orange-600"
                                        pTooltip="Deseleccionar Todos los Items" icon="pi pi-stop"
                                        (click)="seleccionarTodo(0)"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [ngStyle]="{ width: '20px' }" class="bg-teal-50 border-1">
                                    N°
                                </th>
                                <th style="width: 70px" class="bg-teal-50 border-1">
                                    <div class="justify-content-end">
                                        CÓDIGO
                                    </div>
                                </th>
                                <th class="bg-teal-50 border-1">DESCRIPCIÓN</th>
                                <th style="width: 70px" class="bg-teal-50 border-1">
                                    <div class="justify-content-end">
                                        U. MED
                                    </div>
                                </th>
                                <th style="width: 100px; text-align: center" class="bg-teal-50 border-1">
                                    <div class="justify-content-end">
                                        P. UNI.
                                    </div>
                                </th>
                                <th style="width: 70px; text-align: center" class="bg-teal-50 border-1">
                                    <div class="justify-content-end">CANT.</div>
                                </th>
                                <th style="width: 100px; text-align: center" class="bg-teal-50 border-1">
                                    <div class="justify-content-end">TOTAL</div>
                                </th>
                                <th *ngIf="verItems" style="width: 30px" class="bg-teal-50 border-1">
                                    <div class="flex justify-content-between align-items-center">
                                        ACCIONES
                                    </div>
                                </th>
                                <th *ngIf="verItems" [ngStyle]="{ width: '30px' }" class="bg-teal-50 border-1 text-600">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>
                                    <div [ngStyle]="{ width: '70px' }">
                                        {{ product.codproducto }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ product.descripcion }}
                                    </div>
                                </td>
                                <td>
                                    <div [ngStyle]="{ width: '70px' }">
                                        {{ product.nomunidad }}
                                    </div>
                                </td>
                                <td>
                                    <div [ngStyle]="{
                                            width: '100px',
                                            'text-align': 'right'
                                        }">
                                        {{
                                        product.preciocosto | number : "0.2"
                                        }}
                                    </div>
                                </td>
                                <td>
                                    <div [ngStyle]="{
                                            width: '70px',
                                            'text-align': 'right'
                                        }">
                                        {{ product.cantidad | number : "0.2" }}
                                    </div>
                                </td>
                                <td>
                                    <div [ngStyle]="{
                                            width: '100px',
                                            'text-align': 'right'
                                        }">
                                        {{
                                        product.preciocostototal
                                        | number : "0.2"
                                        }}
                                    </div>
                                </td>
                                <td *ngIf="verItems">
                                    <div class="flex" [ngStyle]="{
                                            width: '30px',
                                            'text-align': 'right'
                                        }">
                                        <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar Item"
                                            tooltipPosition="left" (click)="getItem(product, rowIndex)"
                                            class="p-button-text p-button-rounded text-900 text-blue-600"></button>
                                        <button pButton pRipple icon="pi pi-trash" pTooltip="Eliminar Item"
                                            tooltipPosition="left" (click)="eliminarItem(product)"
                                            class="p-button-text p-button-rounded text-900 text-red-600"></button>
                                    </div>
                                </td>
                                <td *ngIf="verItems">
                                    <input [disabled]="!verbtnGrabar" type="checkbox" [(ngModel)]="product.gas_indsuma"
                                        [ngModelOptions]="{ standalone: true }" style="
                                            width: 15px;
                                            height: 15px;
                                            cursor: pointer;
                                        " (ngModelChange)="
                                            checkValueSuma($event, product)
                                        " />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="6" class="text-right">
                                    Sub Total:
                                </td>
                                <td>
                                    <div [ngStyle]="{ 'text-align': 'right' }">
                                        {{ s_monto | number : "0.2-2" }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">IGV:</td>
                                <td>
                                    <div [ngStyle]="{ 'text-align': 'right' }">
                                        {{ s_igv | number : "0.2-2" }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">Total:</td>
                                <td>
                                    <div [ngStyle]="{ 'text-align': 'right' }">
                                        {{ montoTotal | number : "0.2-2" }}
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <!-- <div class="lg:col-9 -mt-6 -mb-7 ">
                    <p-divider class="sm:col-12 lg:col-9 md:col-6">                       
                    </p-divider>
                </div> 
                <div class="sm:col-12 lg:col-6 md:col-12 border-1 border-round surface-border ml-2 mt-2">                 
                    <div class="flex">
                        <div class="sm:col-6 lg:col-3 md:col-3 col-6 -ml-3">
                            <label class="block text-900  mb-1">N° Cuotas<span class="text-red-500 font-bold"> * </span></label>
                            <span>
                                <p-dropdown [options]="lstCuotas" [(ngModel)]="nrocuotas" optionLabel="name" placeholder="Seleccionar..."
                                optionValue="code" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm" (onChange)="prcCuota($event.value);"></p-dropdown>
                            </span>
                        </div>
                    </div>                   
                    <p-table [value]="listaCuotas" class="ml-2" responsiveLayout="stack" [breakpoint]="'900px'" [tableStyle]="{'min-width': '35rem'}"
                    [scrollable]="true"  styleClass="p-datatable-sm card border-1 border-round surface-border -mt-3">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [ngStyle]="{'width':'80px'}" class="bg-teal-50 border-1">N° Cuota</th>
                                <th class="bg-teal-50 border-1">Fecha</th>
                                <th class="bg-teal-50 border-1">
                                    <div [ngStyle]="{'text-align':'right'}">                                                    
                                        Monto
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex + 1}}</td>
                                <td>{{ product.fechacuota | date:'dd/MM/yyyy'}}  </td>
                                <td> 
                                    <div [ngStyle]="{'text-align':'right'}">                                                    
                                        {{ product.monto | number: '0.2'}}
                                    </div> 
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>                
                </div> -->
            </p-tabPanel>
           
            <p-tabPanel [disabled]="visibleDocument">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-paperclip"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Adjuntos
                        </span>
                    </div>
                </ng-template>
                <app-c-adjuntos *ngIf="verAdjunto" [IA_data]="dataAdjunto"></app-c-adjuntos>
            </p-tabPanel>

            <p-tabPanel [disabled]=visibleAsiento>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-book"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Asiento Contable
                        </span>
                    </div>
                </ng-template>             
                <p-table #dt1 [value]="lstAsientos" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"                    
                    styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr class="text-sm h-1rem">
                            <th rowspan="2" [ngStyle]="{ width: '20px' }" class="bg-teal-50 border-1">
                                    N°
                                </th>
                            <th rowspan="2" style="width: 20px" class="bg-teal-50 border-1" >
                                <div class="flex justify-content-between align-items-center">
                                    CORRELATIVO
                                </div>
                            </th>
                            <th rowspan="2" style="width: 80px;" class="bg-teal-50 border-1">FECHA</th>
                            <th rowspan="2" style="width: 300px;" class="bg-teal-50 border-1">GLOSA</th>
                            <th rowspan="2" style="width: 80px;" class="bg-teal-50 border-1">TC</th>

                            <th colspan="2" style="width: 200px; text-align:center" class="bg-teal-50 border-1">
                                CTA CTBLE
                            </th>
                            <th colspan="2" style="width: 200px; text-align:center" class="bg-teal-50 border-1">
                                MOVIMIENTOS
                            </th>
                        </tr>
                        <tr class="text-sm" >
                            
                            <th colspan="1" class="bg-teal-50 border-1">
                                <div [ngStyle]="{'width':'100px','text-align': 'center'}">
                                    CÓDIGO
                                </div>
                            </th>
                            <th colspan="1" class="bg-teal-50 border-1">
                                <div [ngStyle]="{'width':'100px','text-align': 'center'}">
                                    DENOMINACIÓN
                                </div>
                            </th>
                            <th colspan="1" class="bg-teal-50 border-1">
                                <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                                    DEBE
                                </div>
                            </th>
                            <th colspan="1" class="bg-teal-50 border-1">
                                <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                                    HABER
                                </div>
                            </th>
                        </tr>
                       
                    </ng-template>
                    <ng-template pTemplate="body" let-dato let-rowIndex="rowIndex"> 
                        <tr class="text-sm">
                            <td>{{rowIndex + 1}}</td>
                            <td>{{dato.nroasiento}}</td>
                            <td>{{dato.fecasiento}}</td>
                            <td>{{dato.glosaasiento}}</td>
                            <td>{{dato.tc | number: '0.4' }}</td>
                            <td [ngStyle]="{'width':'100px','text-align': 'center'}">{{dato.ctactble}}</td>
                            <td>{{dato.desctactble}}</td>
                            <td [ngStyle]="{'width':'80px','text-align': 'right'}">{{dato.mtodebe | number: '0.2' }}</td>
                            <td [ngStyle]="{'width':'80px','text-align': 'right'}">{{dato.mtohaber | number: '0.2' }}</td>
                        </tr>
                    </ng-template>
                   <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="7" class="text-right">Totales: </td>
                            <td>
                                <div [ngStyle]="{'text-align':'right'}">
                                    {{tot_debe | number: '0.2-2'}}
                                </div>
                            </td>
                                <td>
                                <div [ngStyle]="{'text-align':'right'}">
                                    {{tot_haber | number: '0.2-2'}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="12">No se encontraron registros.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="12">Cargando datos. Espere por favor.</td>
                        </tr>
                    </ng-template>
                </p-table>              
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{ width: '450px' }"
    acceptButtonStyleClass="p-button p-button-info surface-border"
    rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>