<form [formGroup]="registerFormRegistro" >
    <div class="p-fluid border-1 surface-border mb-3 card p-2 border-round m-2 grid">              
        
        
        <div class="col-12 field h-4rem">
            <div class="flex">
                <label class="block text-900 font-semibold mb-1">Código </label>
            </div>
            <span class="p-fluid">
                <textarea type="text" pInputTextarea [rows]="1" formControlName="codctactble" style="resize: none" class="w-full p-inputtext-sm"></textarea>
            </span>
        </div>
        <div class="col-12 field h-8rem">
            <div class="flex">
                <label class="block text-900 font-semibold mb-1">Descripción</label>
            </div>
            <span class="p-fluid">
                <textarea type="text" pInputTextarea [rows]="3" formControlName="desctactble" style="resize: none" class="w-full p-inputtext-sm" id="descripcion"></textarea>
            </span>
        </div>

        

    </div>
    <div class="flex justify-content-end" >
        <button pButton icon="pi pi-save" label="Grabar" class="p-button-primary" (click)="guardarRegistro()"></button>
    </div>
</form>


