<div class="card m-4 gap-2">
    <div class="grid mt-2">
        <div class="flex justify-content-between col-12 -mt-3 gap-2">                                  
            <div class="mb-1 border-1 surface-border py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                <span class="text-base font-semibold">FLUJO DE CAJA</span>
            </div>                         
        </div>
    </div>

    <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid lg:col-9 col-12 text-sm" >
        <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-3 ">
            <label class="font-semibold text-blue-600 text-base">Año</label>
            <p-calendar view="year" dateFormat="yy" [showIcon]="true" inputId="fechaInicio" formControlName="fecini"
                [readonlyInput]="true" appendTo="body" class="p-inputtext-sm" (onSelect)="getListar()">
            </p-calendar>
        </div>
        <!-- <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                class="font-semibold mt-3 justify-content-center h-3rem" icon="pi pi-search"></button>
        <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
            <label class="font-semibold text-blue-600 text-base">Hasta</label>
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fecfin"
                [readonlyInput]="true" appendTo="body" class="p-inputtext-sm"></p-calendar>
        </div>    --> 
       <!-- <div class="sm:col-6 lg:col-3 md:col-6 col-6 -mt-4">
            <label class="font-semibold text-blue-600 text-base">Moneda</label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar..." optionLabel="desmoneda" 
                optionValue="idmoneda" appendTo="body" class="p-inputtext-sm"></p-dropdown>
            </span>                                      
        </div>            
        
        <div class="field col-12 md:col-2 -mt-4 gap-2">
            <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                class="font-semibold mt-4 justify-content-center h-2.5rem w-3rem" icon="pi pi-search"></button>
            <button pButton type="button" pTooltip="Exportar Excel" tooltipPosition="bottom" (click)="getExportarExcel(dt1)"
                class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto bg-green-500 ml-2" icon="pi pi-file-excel"></button>
        </div>-->
    </form> 

    <p-table #dt1 [value]="lstFlujoCaja" 
        rowGroupMode="subheader" 
        groupRowsBy="tipo" 
        sortField="tipo" 
        sortMode="single"  
        [tableStyle]="{'min-width': '75rem'}"
        styleClass="p-datatable-sm p-datatable-striped -mt-3">
        <ng-template pTemplate="header">
            <tr>
                <th  style="width: 100px;" class="bg-teal-50 border-1"></th>
                <th class="bg-teal-50 border-1">Enero</th>
                <th class="bg-teal-50 border-1">Febrero</th>
                <th class="bg-teal-50 border-1">Marzo</th>
                <th class="bg-teal-50 border-1">Abril</th>
                <th class="bg-teal-50 border-1">Mayo</th>
                <th class="bg-teal-50 border-1">Junio</th>
                <th class="bg-teal-50 border-1">Julio</th>
                <th class="bg-teal-50 border-1">Agosto</th>
                <th class="bg-teal-50 border-1">Setiembrex</th>
                <th class="bg-teal-50 border-1">Octubre</th>
                <th class="bg-teal-50 border-1">Noviembre</th>
                <th class="bg-teal-50 border-1">Diciembre</th>
                <th class="bg-teal-50 border-1 font-bold">ACUMULADO</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-customer>
            <tr pRowGroupHeader>
                <td colspan="5">
                    <span class="font-bold ml-2">{{customer.destipo}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template 
            pTemplate="body" 
            let-customer  
            let-rowIndex="rowIndex"
            let-rowgroup="rowgroup" 
            let-rowspan="rowspan">
            <tr>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                    <span class="font-bold ml-2">{{customer.destipo}}</span>
                </td>
                <td>
                    {{customer.name}}
                </td>
                <td [ngClass]="{'text-red-500': customer.enero < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.enero | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.febrero < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.febrero | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.marzo < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.marzo | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.abril < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.abril | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.mayo < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.mayo | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.junio < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.junio | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.julio < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.julio | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.agosto < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.agosto | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.xxxx < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.xxxx | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.octubre < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.octubre | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.noviembre < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.noviembre | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.diciembre < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.diciembre | number :'0.2-2'}}
                </td>
                <td [ngClass]="{'text-red-500': customer.diciembre < 0, 'font-bold': customer.tipo === 'C'}">
                    {{customer.total | number :'0.2-2'}}
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="flex grid p-2 mt-6 surface-border border-top-1">
        <div class="lg:col-4 md:col-12">        
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="justify-content-between flex gap-2">
                    <h5 class="text-green-500">Ventas Netas</h5>
                    <i class="pi pi-chart-bar ml-3 text-2xl text-green-500"></i>
                </div> 
            </div>

            <div class="flex align-items-center justify-content-between">
                <div class="border-top-1 surface-border col-12">
                    <!-- <div class="flex  justify-content-between mb-3">
                        <h5 class="m-0 text-color-secondary">Comparación Mensual</h5>
                    </div> -->
                    
                    <p-chart type="line" [data]="chartMonthlyDataA" [options]="chartMonthlyOptions" [responsive]="true"
                        height="200px"></p-chart>
                </div>                
            </div>
        </div> 

        <div class="lg:col-4 md:col-12">        
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="justify-content-between flex gap-2">
                    <h5 class="text-blue-500">Costo de Ventas</h5>
                    <i class="pi pi-chart-bar ml-3 text-blue-500 text-2xl"></i>
                </div> 
            </div>

            <div class="flex align-items-center justify-content-between">
                <div class="border-top-1 surface-border col-12">
                    <!-- <div class="flex  justify-content-between mb-3">
                        <h5 class="m-0 text-color-secondary">Comparación Mensual</h5>
                    </div> -->
                    
                    <p-chart type="line" [data]="chartMonthlyDataB" [options]="chartMonthlyOptions" [responsive]="true"
                        height="200px"></p-chart>
                </div>                
            </div>
        </div>     
   
        <div class="lg:col-4 md:col-12 surface-border border-top-1">        
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="justify-content-between flex gap-2">
                    <h5 class="m-0 text-orange-500">Utilidad Bruta</h5>
                    <i class="pi pi-chart-bar ml-3 mt-1 text-orange-500 text-2xl"></i>
                </div> 
            </div>

            <div class="flex align-items-center justify-content-between">
                <div class="border-top-1 surface-border col-12">
                    <!-- <div class="flex  justify-content-between mb-3">
                        <h5 class="m-0 text-color-secondary">Comparación Mensual</h5>
                    </div> -->
                    
                    <p-chart type="line" [data]="chartMonthlyDataC" [options]="chartMonthlyOptions" [responsive]="true"
                        height="200px"></p-chart>
                </div>                
            </div>
        </div> 

         <div class="lg:col-12 md:col-12 surface-border border-top-1">        
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="justify-content-between flex gap-2">
                    <h5 class="m-0 text-blue-500">Consolidado</h5>
                    <i class="pi pi-chart-bar ml-3 mt-1 text-blue-500 text-2xl"></i>
                </div> 
            </div>

            <div class="flex align-items-center justify-content-between">
                <div class="border-top-1 surface-border col-12">
                    <!-- <div class="flex  justify-content-between mb-3">
                        <h5 class="m-0 text-color-secondary">Comparación Mensual</h5>
                    </div> -->
                    
                    <p-chart type="line" [data]="chartMonthlyDataT" [options]="chartMonthlyOptionsT" [responsive]="true"
                        height="200px"></p-chart>
                </div>                
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '350px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>