<ng-container *ngIf="vistaLista; else visSecciones">
    <div class="card m-4">
        <div class="grid mt-2">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">   
                <div style="display: flex; justify-content: end;" class="mt-2 pl-1 h-2rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center " icon="pi pi-file" label="Nuevo"
                        pTooltip="Nuevo Registro" tooltipPosition="bottom" (click)="onNuevo()" ></button>
                </div>                 
                <div class="mb-1 py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-base font-semibold">REGISTRO DE COMPRAS</span>
                </div>           
            </div>
        </div>

        <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid md:col-12 sm:col-12 lg:col-9 text-sm">
                 
                <div class="md:col-2 sm:col-2 lg:col-2 col-6 -mt-3">
                    <label class="font-semibold text-blue-600 text-base">Desde</label>
                    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaini" formControlName="fecini" [showOnFocus]="false"
                        [readonlyInput]="true" appendTo="body" [inputStyle]="{'height':'2.5rem'}" class="p-inputtext-sm">
                    </p-calendar>                    
                </div>
                <div class="md:col-2 sm:col-2 lg:col-2 col-6 -mt-3">
                    <label class="font-semibold text-blue-600 text-base">Hasta</label>
                    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fecfin"
                        [readonlyInput]="true" appendTo="body" class="p-inputtext-sm" [inputStyle]="{'height':'2.5rem'}"></p-calendar>
                </div>
                <div class="sm:col-8 lg:col-3 md:col-6 col-12 -mt-3">                            
                    <label class=" font-semibold text-blue-600 text-base">Proveedor</label>                            
                    <span>
                        <p-dropdown [options]="lstProveedores" placeholder="Seleccionar Proveedor..."  formControlName="idproveedor" class="p-inputtext-sm"
                        optionLabel="nomcomercial" optionValue="idcliente" appendTo="body"></p-dropdown>            
                    </span>
                </div> 
                <div class="sm:col-3 lg:col-2 md:col-6 col-12 -mt-3">                            
                    <label class="font-semibold text-blue-600 text-base">Moneda</label>  
                    <span class="p-fluid">
                        <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar Moneda..." optionLabel="desmoneda" 
                        optionValue="idmoneda" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm" ></p-dropdown>
                    </span> 
                </div> 
                <div class="field sm:col-2 md:col-2 -mt-3 gap-2">
                    <button pButton type="button" (click)="getListar(); dt1.reset()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                        class="font-semibold mt-2 justify-content-center h-2.5rem w-3rem" icon="pi pi-search"></button>
                        <button pButton type="button" (click)="getExportarExcel(dt1)" pTooltip="Exportar Excel" tooltipPosition="bottom" 
                    class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem bg-green-500 ml-2" icon="pi pi-file-excel"></button>
                </div>
        </form> 

        <p-table #dt1 [value]="lstCompras" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" styleClass="p-datatable-sm card border-1 border-round surface-border">

            <ng-template pTemplate="header">
                <tr class="text-sm">
                    <th [ngStyle]="{'width':'20px'}"  class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            N°
                        </div>
                    </th>
                    <!-- <th [ngStyle]="{'width':'50px'}"  class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                           ID  
                        </div>
                    </th> -->
                    <th style="width: 60px; text-align:center;" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            N° OC
                        </div>
                    </th>
                    <th style="width: 60px; text-align:center;" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            FECHA <br> EMISIÓN
                        </div>
                    </th>
                    <th style="width: 60px; text-align:center;" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            FECHA <br> VENCIMIENTO
                        </div>
                    </th>
                    <th style="width: 80px;" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            DOCUMENTO
                        </div>
                    </th>
                    <th [ngStyle]="{'width':'200px'}" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            PROVEEDOR
                        </div>
                    </th>
                    <th [ngStyle]="{'width':'50px'}" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            CENTRO COSTO
                        </div>
                    </th>
                    <!-- <th [ngStyle]="{'width':'50px'}" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            PROYECTO 
                        </div>
                    </th> -->
                    <!-- <th style="width: 250px;" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            ID PROYECTO
                        </div>
                    </th>
                    <th style="width: 250px;" class="bg-teal-50 border-1" >
                        <div class="justify-content-between align-items-center">
                            PROYECTO
                        </div>
                    </th> -->
                    <th style="width: 60px; text-align:center;" class="bg-teal-50 border-1" >
                        <i class="pi pi-money-bill text-green-500"></i>
                        <div class="justify-content-between align-items-center">
                            MONEDA
                        </div>
                    </th>
                    <th style="width: 80px; text-align:center;" class="bg-teal-50 border-1" >
                        <div class="justify-content-end">
                            BASE <br> IMPONIBLE
                        </div>
                    </th>
                    <th style="width: 70px; text-align:center;" class="bg-teal-50 border-1" >
                        <div class="justify-content-end ">
                            IGV
                        </div>
                    </th>
                    <th style="width: 100px; text-align:center;" class="bg-teal-50 border-1" >
                        <div class="justify-content-end ">
                            TOTAL
                        </div>
                    </th>      
                    <th style="width: 80px" class="bg-teal-50 border-1">
                        <div [ngStyle]="{'width':'80px','text-align':'center'}">
                            ESTADO
                        </div>
                    </th>    
                    <th style="width: 40px; text-align:center;" class="bg-teal-50 border-1">
                        <i class="pi pi-percentage text-red-500"></i>
                        <div [ngStyle]="{'width':'40px'}">
                            DETRA
                        </div>
                    </th>    
                    <th style="width: 60px; text-align:center;" class="bg-teal-50 border-1">
                        <div [ngStyle]="{'width':'60px'}">
                            MONTO <br> DETRACCIÓN
                        </div>
                    </th>  
                               
                    <th style="width: 60px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            ACCIONES
                        </div>
                    </th>
                </tr>
              
                <!-- <tr>
                    <th></th>
                    <th *ngFor="let col of cols">
                        <input pInputText type="text" (input)="dt1.filter($any($event.target).value, col.field, col.filterMatchMode)" class="w-full h-2rem"/>                    
                    </th>
                </tr> -->
               
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr class="text-sm">
                    <td>                        
                        <div [ngStyle]="{'width':'20px'}">
                            {{rowIndex + 1}}
                        </div>
                    </td>
                    <td >
                        <div [ngStyle]="{'width':'70px'}">
                            {{data.codigonroorden_origen}}
                        </div>
                    </td>
                    <td >
                        <div [ngStyle]="{'width':'60px'}">
                            {{data.fecemision}}
                        </div>
                    </td>
                    <td >
                        <div [ngStyle]="{'width':'60px'}">
                            {{data.fecvencimiento}}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'80px'}">
                            {{data.nrofactura }}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'150px'}">
                            {{data.nomcomercial | uppercase}}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'120px'}">
                            {{data.descentrocosto}}
                        </div>
                    </td>
                    <!-- <td>
                        <div [ngStyle]="{'width':'100px'}">
                            {{data.codigoproyecto}}
                        </div>
                    </td> -->
                    <!-- <td >
                        <div [ngStyle]="{'width':'80px'}">
                            {{data.idproyecto }}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'80px'}">
                            {{data.nomproyecto | uppercase}}
                        </div>
                    </td> -->
                    <td>
                        <div [ngStyle]="{'width':'60px','text-align':'center'}">
                            {{data.simbmoneda | uppercase}}
                        </div>
                    </td>                  
                    <td>
                        <div [ngStyle]="{'width':'80px','text-align':'right'}">
                            {{data.s_monto | number: '0.2-2'  }}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'70px','text-align':'right'}">
                            {{data.s_igv | number: '0.2-2'  }}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'100px','text-align':'right'}">
                            {{data.s_monto_total | number: '0.2-2'  }}
                        </div>
                    </td>
                    <td>                       
                        <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                            <p-tag [value]="data.nomestado" [severity]="data.serevity_estado"></p-tag>
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'40px','text-align':'right'}">
                            {{data.porc_detraccion | number: '0.0'  }}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'60px','text-align':'right'}">
                            {{data.s_monto_detraccion_mn_CTB | number: '0.0'  }}
                        </div>
                    </td>
                    <td>
                        <div class="flex align-items-center m:justify-content-end" [ngStyle]="{'width':'60px'}">
                            <!-- <i class="fa-solid fa-file-pdf text-red-500 cursor-pointer" pTooltip="Vista Preliminar" tooltipPosition="left" (click)="onVerDetalle(data)"></i>
                            <i class="fa-solid fa-binoculars text-blue-500 cursor-pointer" pTooltip="Ver" tooltipPosition="left" (click)="onVer(data)"></i> -->

                            <button *ngIf="data.acciones.length > 0" pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0" (click)="toggleMenu($event, data)"
                                pTooltip="Transacciones Disponibles" tooltipPosition="bottom"></button>
                            <p-tieredMenu #menu [model]="menuItems" appendTo="body" [popup]="true"></p-tieredMenu>
                            <button pButton pRipple type="button" icon="pi pi-file-pdf" tooltipPosition="bottom" pTooltip="Vista Preliminar" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-red-500" (click)="onVerDetalle(data)"></button>
                            <button pButton pRipple type="button" icon="pi pi-eye" tooltipPosition="bottom" pTooltip="Ver" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-green-500" (click)="onVer(data)"></button>
                            <button *ngIf="data.b_estado"pButton pRipple type="button" icon="pi pi-file-edit" tooltipPosition="bottom" pTooltip="Editar" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-yellow-500" (click)="onEditar(data)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontraron registros.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando datos. Espere por favor.</td>8
                </tr>
            </ng-template>
        </p-table>

    </div>
</ng-container>

<ng-template #visSecciones>

    <div class="p-fluid p-3 mb-1 card m-4" *ngIf="visDetalle" (OB_back)="getDetalle($event)">
        <div class="grid ">
            <div class="flex justify-content-between col-12 gap-2">
                <div style="display: flex; justify-content: end;" class="mt-2 pl-2 h-2rem -ml-1">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-backward" label="Regresar"
                        pTooltip="Regresar" tooltipPosition="left" (click)="getBack()" ></button>
                </div>
                <div class="mb-1 py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-lg font-semibold">{{tituloDetalle}}</span>
                </div>
            </div>
        </div>
        <app-c-dato-compra [IA_data]="dataPrc"></app-c-dato-compra>
    </div>

    <div class="p-fluid p-3 mb-1 card" *ngIf="visQuote" (OB_back)="getDetalle($event)">
        <div class="grid ">
            <div class="flex justify-content-between col-12 -mt-3">
                <div class="mb-1 border-1 surface-border py-3 h-3rem flex border-round mt-2 p-2 fonthead w-full">
                    <span class="text-lg font-semibold">{{tituloDetalle}}</span>
                </div>
                <div style="display: flex; justify-content: end;" class="mt-2 pl-2 h-3rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-backward" label="Regresar"
                        pTooltip="Regresar a Bandeja" tooltipPosition="left" (click)="getBack()" ></button>
                </div>
            </div>
        </div>
        <!-- <app-c-cotizacion ></app-c-cotizacion> -->
    </div>



</ng-template>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-toast></p-toast>
