<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>

<div class="card m-4">
    <div class="grid mt-2">
        <div class="flex justify-content-between col-12 -mt-3 gap-2">
            <div class="mb-1 py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                <span class="text-base font-semibold">LIQUIDACIÓN</span>
            </div>
        </div>
    </div>

    <div class="flex col-12 -mt-3 gap-2">
        <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid md:col-12 sm:col-12 lg:col-7 text-sm">
            <div class="md:col-6 sm:col-3 lg:col-3 col-6 -mt-3">
                <label class="font-semibold text-blue-600 text-base">Desde</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaInicio" formControlName="fechaInicio"
                    [showOnFocus]="false" [readonlyInput]="true" appendTo="body" [inputStyle]="{'height':'2.5rem'}"
                    class="p-inputtext-sm">
                </p-calendar>
            </div>
            <div class="md:col-6 sm:col-3 lg:col-3 col-6 -mt-3">
                <label class="font-semibold text-blue-600 text-base">Hasta</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fechaFin"
                    [readonlyInput]="true" appendTo="body" class="p-inputtext-sm"
                    [inputStyle]="{'height':'2.5rem'}"></p-calendar>
            </div>
            <div class="sm:col-3 md:col-2 lg:col-3 -mt-3 gap-2">
            <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom"
                class="font-semibold mt-2 justify-content-center h-2.5rem w-3rem" icon="pi pi-search"></button>
            <button pButton type="button" (click)="getExportarExcel()" pTooltip="Exportar Excel"
                tooltipPosition="bottom"
                class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem bg-green-500 ml-2"
                icon="pi pi-file-excel"></button>
        </div>
        </form>
    </div>

    <p-table #dt1 [value]="listado" [rows]="25" [rowHover]="true" responsiveLayout="stack"
        [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [showCurrentPageReport]="true"
        [resizableColumns]="true" [rowsPerPageOptions]="[25,50]"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
        styleClass="p-datatable-sm card border-1 border-round surface-border">

        <ng-template pTemplate="header">
            <tr class="text-sm">
                <th [ngStyle]="{'width':'20px'}" class="bg-teal-50 border-1">
                    <div class="flex justify-content-between align-items-center">
                        N°
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                       ID DOC 
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                       ID PROD
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                       FAMILIA
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                        PRODUCTO
                    </div>
                </th>
                <th [ngStyle]="{'width':'200px'}" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                        CANTIDAD
                    </div>
                </th>
                <th [ngStyle]="{'width':'100px'}" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                        MONEDA
                    </div>
                </th>
                <th style="width: 70px" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                        PRECIO
                    </div>
                </th>
                <th style="width: 70px" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                        TOTAL
                    </div>
                </th>
                <th style="width: 60px" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                        PAGO
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                       COMPROBANTE
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                       SERIE
                    </div>
                </th>
                <th style="width: 60px;" class="bg-teal-50 border-1">
                    <div class="justify-content-between align-items-center">
                       NUMMERO
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr class="text-sm">
                <td>
                    <div [ngStyle]="{'width':'20px'}">
                        {{rowIndex + 1}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'60px'}">
                        {{data.idprod}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'60px'}">
                        {{data.idordencompraitem}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'150px'}">
                        {{data.nomfamilia | uppercase}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'100px'}">
                        {{data.descripcion}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'100px'}">
                        {{data.cantidad}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'100px'}">
                        {{data.desmoneda}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'100px'}">
                        {{data.preciocosto}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'100px'}">
                        {{data.totalmn}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'60px'}">
                        {{data.nomestadopago}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'60px'}">
                        {{data.comprobante}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'60px'}">
                        {{data.nroserie_ctb}}
                    </div>
                </td>
                <td>
                    <div [ngStyle]="{'width':'60px'}">
                        {{data.nrodocumento_ctb}}
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No se encontraron registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="6">Cargando datos. Espere por favor.</td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-toast></p-toast>