<form [formGroup]="registerFormRegistro" class="p-2" >
    <div class="p-fluid mb-3 card p-2 border-round m-2 grid">  
        <div class="sm:col-12 lg:col-7 md:col-12 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Transacción <span class="text-red-500 font-bold"> * </span></label>
            <span>
                <p-dropdown [options]="lstDocumentoPrc" formControlName="idtipodocprc" optionLabel="nomtipodocprc" placeholder="Seleccionar..."
                    optionValue="idtipodocprc" appendTo="body" class="p-inputtext-sm" (onChange)="listarCategoriaDoc()"></p-dropdown>
            </span>
        </div> 
        <div class="sm:col-12 lg:col-5 md:col-12 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Motivo <span class="text-red-500 font-bold"> * </span></label>
            <span>
                <p-dropdown [options]="lstCategoriaDoc" formControlName="idcategoria" optionLabel="nomcategoria" placeholder="Seleccionar..."
                    optionValue="idcategoria" appendTo="body" class="p-inputtext-sm" (onChange)="listarConcepto()"></p-dropdown>
            </span>
        </div>
        <div class="sm:col-6 lg:col-5 md:col-3 h-4rem field">
            <label class="text-900 font-semibold mb-1">Concepto Contable<span class="text-red-500 font-bold"> * </span></label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstConcepto" formControlName="conceptoctble" placeholder="Seleccionar..." optionLabel="valoritem" 
                optionValue="iditem" appendTo="body" class="p-inputtext-sm"></p-dropdown>
            </span>                                      
        </div>
        <div  class="sm:col-12 lg:col-7 md:col-12 field h-4rem">
            <label class="text-900 font-semibold mb-1">Cuenta Contable<span class="text-red-500 font-bold"> * </span></label>
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstCtaCtble" formControlName="ctactble" placeholder="Seleccionar..." optionLabel="s_desctactble" 
                class="p-inputtext-sm" optionValue="codctactble" appendTo="body" autoWidth="false" [filter]="true" [showClear]="true"></p-dropdown>
            </span>
        </div>
        <div class="sm:col-6 lg:col-4 md:col-3 h-5rem field ">
            <label class="text-900 font-semibold mb-1">Partida<span class="text-red-500 font-bold"> * </span></label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstPartida" formControlName="partidacfg" placeholder="Seleccionar..." optionLabel="valoritem" 
                optionValue="iditem" appendTo="body" class="p-inputtext-sm"></p-dropdown>
            </span>                                      
        </div>    
        <div class="flex justify-content-end lg:col-12" >
            <button pButton icon="pi pi-save" label="Grabar" class="p-button-primary w-auto" (click)="guardarRegistro()"></button>
        </div>  
    </div>
    
</form>


<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>