<div class="p-fluid mt-1">
    <div class="flex mb-2 -mt-3 gap-2 border-1 border-round surface-border p-2 bg-blue-50">
        <button pButton icon="pi pi-plus" label="Agregar" pTooltip="Agregar Nuevo Item" tooltipPosition="bottom" 
        class="p-button-primary w-auto h-2rem" (click)="agregarDocumento([])"></button>
    </div>
    <p-tabView styleClass="-mt-2">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Cobros
                    </span>
                </div>
            </ng-template>
            <p-table #dt1 [value]="lstIngresos" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
                [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
                styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr class="text-sm">
                        <th style="width: 10px" class="bg-teal-50 border-1">
                            <div class="flex justify-content-between align-items-center">
                                N°
                            </div>
                        </th>
                        <th style="width: 150px;" class="bg-teal-50 border-1" >
                            <div class="justify-content-between align-items-center">
                                PERSONA
                            </div>
                        </th>
                        <th style="width: 50px;" class="bg-teal-50 border-1" >
                            <div class="justify-content-between align-items-center">
                                FECHA
                            </div>
                        </th>
                        <th style="width: 60px;" class="bg-teal-50 border-1" >
                            <div class="justify-content-between align-items-center">
                                MONEDA
                            </div>
                        </th>
                        <th style="width: 70px;" class="bg-teal-50 border-1" >
                            <div [ngStyle]="{'width':'70px','text-align':'center'}">
                                MONTO
                            </div>
                        </th>
                        <th style="width: 50px" class="bg-teal-50 border-1" >
                            <div [ngStyle]="{'width':'80px','text-align':'center'}">
                                ESTADO
                            </div>
                        </th>
                        <th style="width: 80px;" class="bg-teal-50 border-1">
                            <div class="flex justify-content-between align-items-center">
                                ACCIONES
                            </div>
                        </th>
                    </tr>
                    <tr >
                        <th></th>
                        <th *ngFor="let col of cols">
                            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, col.field, col.filterMatchMode)" class="w-full h-2rem"/>                    
                        </th>
                    </tr>
            
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr class="text-sm">
                        <td [ngStyle]="{'width':'10px'}">
                            {{rowIndex + 1}}
                        </td>
                        <td >
                            <div [ngStyle]="{'width':'50px'}">
                                {{data.nompersona | uppercase}}
                            </div>
                        </td>
                        <td>
                            <div [ngStyle]="{'width':'100px'}">
                                {{data.fechaprog}}
                            </div>
                        </td>
                        <td>
                            <div [ngStyle]="{'width':'150px'}">
                                {{data.desmoneda | uppercase}}
                            </div>
                        </td>
                        <td>
                            <div [ngStyle]="{'width':'70px','text-align':'right'}">
                                {{data.montoprog | number: '0.2-2' }}
                            </div>
                        </td>
                        <td>                       
                            <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                                <p-tag [value]="data.nomestado" [severity]="data.serevity_estado"></p-tag>
                            </div>
                        </td>
                        <td>
                            <div class="flex align-items-center m:justify-content-end" [ngStyle]="{'width':'160px'}">
                                <button pButton pRipple type="button" icon="pi pi-cog" tooltipPosition="bottom" pTooltip="Ver Detalle" 
                                    class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="agregarDocumento(data)"></button>                            
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">No se encontraron registros.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="12">Cargando datos. Espere por favor.</td>
                    </tr>
                </ng-template>
            </p-table>        
        </p-tabPanel> 
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-cash-register"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Pagos 
                    </span>
                </div>
            </ng-template>
            <p-table #dt2 [value]="lstEgresos" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
                [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
                currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
                styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr class="text-sm">
                        <th style="width: 10px" class="bg-teal-50 border-1">
                            <div class="flex justify-content-between align-items-center">
                                N°
                            </div>
                        </th>
                        <th style="width: 150px;" class="bg-teal-50 border-1" >
                            <div class="justify-content-between align-items-center">
                                PERSONA
                            </div>
                        </th>
                        <th style="width: 50px;" class="bg-teal-50 border-1" >
                            <div class="justify-content-between align-items-center">
                                FECHA
                            </div>
                        </th>
                        <th style="width: 60px;" class="bg-teal-50 border-1" >
                            <div class="justify-content-between align-items-center">
                                MONEDA
                            </div>
                        </th>
                        <th style="width: 70px;" class="bg-teal-50 border-1" >
                            <div [ngStyle]="{'width':'70px','text-align':'center'}">
                                MONTO
                            </div>
                        </th>
                        <th style="width: 50px" class="bg-teal-50 border-1" >
                            <div [ngStyle]="{'width':'80px','text-align':'center'}">
                                ESTADO
                            </div>
                        </th>
                        <th style="width: 80px;" class="bg-teal-50 border-1">
                            <div class="flex justify-content-between align-items-center">
                                ACCIONES
                            </div>
                        </th>
                    </tr>
                    <tr >
                        <th></th>
                        <th *ngFor="let col of cols">
                            <input pInputText type="text" (input)="dt2.filter($any($event.target).value, col.field, col.filterMatchMode)" class="w-full h-2rem"/>                    
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr class="text-sm ">
                        <td [ngStyle]="{'width':'10px'}">
                            {{rowIndex + 1}}
                        </td>
                        <td >
                            <div [ngStyle]="{'width':'50px'}">
                                {{data.nompersona | uppercase}}
                            </div>
                        </td>
                        <td>
                            <div [ngStyle]="{'width':'100px'}">
                                {{data.fechaprog}}
                            </div>
                        </td>
                        <td>
                            <div [ngStyle]="{'width':'150px'}">
                                {{data.desmoneda | uppercase}}
                            </div>
                        </td>
                        <td>
                            <div [ngStyle]="{'width':'70px','text-align':'right'}">
                                {{data.montoprog | number: '0.2-2' }}
                            </div>
                        </td>
                        <td>                       
                            <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                                <p-tag [value]="data.nomestado" [severity]="data.serevity_estado"></p-tag>
                            </div>
                        </td>
                        <td>
                            <div class="flex align-items-center m:justify-content-end" [ngStyle]="{'width':'160px'}">
                                <button pButton pRipple type="button" icon="pi pi-cog" tooltipPosition="bottom" pTooltip="Ver Detalle"  (click)="agregarDocumento(data)"
                                    class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0"></button>
                                <button pButton pRipple type="button" icon="pi pi-eye" tooltipPosition="bottom" pTooltip="Ver Pagos" 
                                    class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="onVer(data)"></button>
                                <button pButton pRipple type="button" icon="pi pi-money-bill" tooltipPosition="bottom" pTooltip="Registrar Pagos" 
                                    class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-green-500 " (click)="onPagar(data)"></button>
                                <!-- <button pButton pRipple type="button" icon="pi pi-cog" tooltipPosition="bottom" pTooltip="Programar" 
                                class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0"></button> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">No se encontraron registros.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="12">Cargando datos. Espere por favor.</td>
                    </tr>
                </ng-template>
            </p-table>        
        </p-tabPanel> 
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Flujo 
                    </span>
                </div>
            </ng-template>     
        </p-tabPanel>
    </p-tabView> 
</div>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-toast></p-toast>