<ng-container *ngIf="vistaLista; else visSecciones">
    <div class="card m-4">
        <div class="grid mt-2">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">    
                <div style="display: flex; justify-content: end;" class="mt-2 pl-1 h-2rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-file" label="Nuevo"
                        pTooltip="Nueva Cuenta" tooltipPosition="bottom" (click)="agregarCentroCosto()"></button>
                </div> 
                <button pButton type="button" (click)="listarCentroCosto()" pTooltip="Actualizar Registros" tooltipPosition="bottom" 
                    class="font-semibold mt-2 justify-content-center h-2rem w-3rem w-auto" icon="pi pi-refresh"></button>                         
                <div class="mb-1 surface-border py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-base font-semibold">CENTRO DE COSTOS</span>
                </div>                         
            </div>
        </div>
    
        <p-table #dt1 [value]="lstCentroCosto" [rows]="10" [rowHover]="true" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]" 
            styleClass="p-datatable-sm card border-1 border-round surface-border -mt-1 p-datatable-striped" 
            responsiveLayout="scroll" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} Registros">
        
            <ng-template pTemplate="header">
                <tr class="text-sm">
                    <th style="width: 10px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            N°
                        </div>
                    </th>
                    <th style="width: 20px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            ID
                        </div>
                    </th>
                    <th style="width: 40px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            CÓDIGO 
                        </div>
                    </th>
                    <th style="width: 200px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            DESCRIPCIÓN 
                        </div>
                    </th>
                    <th style="width: 40px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            CTA CONTABLE 
                        </div>
                    </th>
                    <th style="width: 50px;" class="bg-teal-50 border-1">
                        <div class="flex justify-content-between align-items-center">
                            ACCIONES
                        </div>
                    </th>
                </tr>
                <tr >
                    <th></th>
                    <th *ngFor="let col of cols">
                        <input pInputText type="text" (input)="dt1.filter($any($event.target).value, col.field, 'contains')" class="w-full h-2rem"/>
                        
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr class="text-sm">
                    <td>
                        {{rowIndex + 1}}
                    </td>
                    <td>
                        {{data.idcentrocosto}}
                    </td>
                    <td>
                        {{data.codcentrocosto}}
                    </td>
                    <td>
                        {{data.descentrocosto | uppercase}}
                    </td>
                    <td>
                        {{data.codctactble}}
                    </td>
                    <td style="text-align: start;">
                        <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="left" (click)="editarCentroCosto(data)" class="p-button-rounded p-button-text mr-2 -mt-2"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="left" (click)="eliminarCentroCosto(data)" class="p-button-rounded p-button-text mr-2 -mt-2 text-red-500"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontraron registros.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando datos. Espere por favor.</td>
                </tr>
            </ng-template>
        </p-table>
    
    </div>
</ng-container>

<ng-template #visSecciones>
    <div class="p-fluid p-3 mb-1 card m-4" (OB_back)="getBack()">
        <div class="grid mt-2">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">
                <div style="display: flex; justify-content: end;" class="mt-2 h-2rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-backward" label="Regresar"
                        pTooltip="Regresar" tooltipPosition="bottom" (click)="getBack()" ></button>                    
                </div>
                <div class="mb-1 py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-base font-semibold">{{tituloDetalle}}</span>
                </div>       
            </div>
        </div>
        <app-c-centrocosto-det [IA_data]="dataDet"></app-c-centrocosto-det>
    </div>
</ng-template>



<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '350px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>