    .dropdown-wrap-panel {
        max-width: 400px !important;
    }

    .dropdown-wrap-panel .p-dropdown-items .p-dropdown-item {
        white-space: normal !important;
        word-break: break-word !important;
        max-width: 380px !important;
    }