
:host ::ng-deep {

 .testDialog {
    .p-dialog-header{
        background:#0288d1;
        height: 3.5rem;
        color: white;
  
      .p-dialog-header-icons{
        .p-dialog-header-icon{
            color: white;
        }
      }
    }
  }
  
  .fonthead {
      background:#0288d1;
      color: #ffffff;
    }

    div.my-drop {
        border: 1px solid green;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
    }
    div.compo {
        border: 1px dotted peru;
        height: 200px;
        width: 200px;
        margin: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [pDraggable] {
        cursor: move;
    }
  
  } 