button.blue, button.blue:hover{
    background: blue;
    border: blue;
    }
    button.green, button.green:hover{
       background: green;
       border: green;
    }
   .mybtn{
      padding: 5px;
    }