<div class="p-fluid mt-1">
    <div *ngIf="verbtnGrabar" class="flex mb-2 -mt-3 gap-2 border-1 border-round surface-border p-2 bg-blue-50">
        <button *ngIf="verbtnGrabar" pButton icon="pi pi-save" label="Grabar" class="p-button-primary w-auto h-2rem" (click)="guardar()"></button>
        <!-- <p-splitButton *ngIf="verbtnAcciones" label="Acciones" [model]="menuItems" appendTo="body" styleClass="p-button-success h-2rem"></p-splitButton> -->
    </div>
    <div class="card p-2">
        <p-tabView [(activeIndex)]="activeIndex">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-building"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Detalles
                        </span>
                    </div>
                </ng-template>
                <form [formGroup]="registerFormRegistro" class="border-1 border-round surface-border p-fluid p-formgrid grid lg:col-6 col-12 m-2">  
                    <div class="sm:col-6 lg:col-3 md:col-12 h-4rem field ">
                        <div class="flex mb-1">
                            <label class="text-900">Fecha</label>    
                            <i class="pi pi-calendar text-orange-600" style="margin-left: 5px;" ></i> 
                        </div>
                        <span class="p-input-icon-left w-auto p-fluid " style="height: 2rem;" >
                            <p-calendar formControlName="fecgasto" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="false" [required]="true" inputId="start"
                            inputStyleClass="w-full cursor-pointer" appendTo="body" class="p-inputtext-sm" [readonlyInput]="true" ></p-calendar>
                        </span>
                    </div> 
                    <div class="lg:col-6"></div> 
                    <div class="sm:col-6 lg:col-3 md:col-12 col-6 field">
                        <label class="text-900 mb-1">ID </label>
                        <span class="p-fluid">
                            <input pInputText type="text" class="p-inputtext-sm surface-200" formControlName="idgasto"
                             readonly="true"/>
                        </span>
                    </div>      
                    <div class="col-6 sm:col-6 lg:col-6 md:col-6 -mt-5">                            
                        <label class=" text-900 mb-1">Categoría<span class="text-red-500 font-bold"> * </span></label>                            
                        <span>
                            <p-dropdown [options]="lstcategoria" placeholder="Seleccionar..."  formControlName="idcategoria" 
                            optionLabel="valoritem" optionValue="iditem" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm"></p-dropdown>            
                        </span>
                    </div>  
                    <div class="col-6 sm:col-6 lg:col-6 md:col-6 -mt-5">                            
                        <label class=" text-900 ">Pagado por<span class="text-red-500 font-bold"> * </span></label>                            
                        <span>                
                            <p-selectButton [options]="stateOptions" formControlName="pagadopor" 
                            optionLabel="label" optionValue="value" class="p-inputtext-sm bg-blue-50" />                  
                        </span>

                    </div>   
                    <div class="sm:col-6 lg:col-3 md:col-3 col-6 -mt-3">
                        <label class=" text-900 mb-1">Monto <span class="text-red-500 font-bold"> * </span></label>                        
                        <span class="p-fluid">
                            <p-inputNumber class="mt-1" formControlName="monto" locale="es-PE" mode="decimal" [minFractionDigits]="2" name="monto" 
                            [min]="0" class="p-inputtext-sm" ></p-inputNumber>
                        </span>
                    </div>   
                    <div class="sm:col-6 lg:col-4 md:col-3 col-6 -mt-3">
                        <label class="text-900  mb-1">Moneda <span class="text-red-500 font-bold"> * </span></label>  
                        <span class="p-fluid mt-1">
                            <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar Moneda" optionLabel="desmoneda" 
                            optionValue="idmoneda" appendTo="body" class="p-inputtext-sm" ></p-dropdown>
                        </span>                                      
                    </div>  
                    <div class="lg:col-5"></div>    
                    <div class="sm:col-12 lg:col-7 md:col-12">
                        <label class="text-900">Cuenta Contable<span class="text-red-500 font-bold"> * </span></label>
                        <span class="p-fluid">
                            <p-autoComplete formControlName="codctactble" [dropdown]="true" [suggestions]="filteredCtaCtble" (completeMethod)="filterCtaCtble($event)" 
                            field="s_desctactble" appendTo="body" class="p-inputtext-sm" (onSelect)="selectCuenta($event)" [readonly]=onlyRead #autoItems></p-autoComplete>
                        </span> 
                    </div> 
                    <div class="sm:col-6 lg:col-5 md:col-12 col-6 field">
                        <label class=" text-900 -mb-1">Centro Costos</label>                        
                        <span class="p-fluid">
                            <p-dropdown [options]="lstCentroCosto" formControlName="idcentrocosto" placeholder="Centro Costos..." optionLabel="descentrocosto" 
                            class="p-inputtext-sm" optionValue="idcentrocosto" appendTo="body" autoWidth="false" [readonly]=onlyRead ></p-dropdown>
                        </span>
                    </div>  
                    <div class="sm:col-6 lg:col-12 md:col-3 col-12 -mt-3">
                        <label class=" text-900 ">Descripción</label>                        
                        <span class="p-fluid">
                            <textarea type="text" pInputTextarea [rows]="2" formControlName="desgasto" style="resize: none" 
                            class="p-inputtext-sm w-full" [readonly]=onlyRead></textarea>
                        </span>
                    </div>        
                </form>
            </p-tabPanel>             

            <p-tabPanel [disabled]=visibleDocument>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-paperclip"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Adjuntos
                        </span>
                    </div>
                </ng-template>             
                <app-c-adjuntos [IA_data]="dataAdjunto" ></app-c-adjuntos>                
            </p-tabPanel>      
            
            <!-- <p-tabPanel [disabled]=visibleDocument>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-cog"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Transacciones 
                        </span>
                    </div>
                </ng-template>    
                <p-table [value]="lstTransacciones" class="ml-2" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
                [scrollable]="true"  styleClass="p-datatable-sm p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr class="text-sm">
                            <th [ngStyle]="{'width':'20px'}" class="bg-teal-50 border-1">N°</th>
                            <th [ngStyle]="{'width':'120px'}" class="bg-teal-50 border-1">FECHA MOV</th>
                            <th class="bg-teal-50 border-1">TRANSACCIÓN</th>
                            <th class="bg-teal-50 border-1">DESCRIPCIÓN</th>
                            <th class="bg-teal-50 border-1">USUARIO</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                        <tr class="text-sm">
                            <td>{{rowIndex + 1}}</td>
                            <td>
                                <div [ngStyle]="{'width':'120px'}">
                                    {{product.fechamov }}
                                </div>
                            </td>
                            <td>
                                <div [ngStyle]="{'width':'200px'}">
                                    {{product.nomtrx | uppercase}}
                                </div>
                            </td>
                            <td>{{ product.mensajetrx | uppercase}}</td>
                            
                            <td>{{ product.nomusuario | uppercase}}</td>
                        </tr>
                    </ng-template>
                </p-table>                         
            </p-tabPanel> -->
                  
        </p-tabView> 
    </div>
   

</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
