<div class="p-fluid mt-1">
    <div class="flex mb-2 -mt-3 gap-2 border-1 border-round surface-border p-2 bg-blue-50">
        <button pButton icon="pi pi-save" label="Grabar" class="p-button-primary w-auto h-2rem" (click)="guardarCuenta()"></button>
    </div>
    <div class="card p-2"  >
        <p-tabView >
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-building"></i>
                        <span class="font-bold white-space-nowrap m-0">
                            Datos de Cuenta
                        </span>
                    </div>
                </ng-template>
                <form [formGroup]="registerFormRegistro" class="border-1 border-round surface-border">
                    <div class="p-fluid grid  col-12  lg:col-6 md:col-12 sm:col-12 p-2 m-2">
                        <div class="col-12 lg:col-6 md:col-12 field">
                            <label class="block text-900 font-semibold mb-1">Banco</label>
                            <span class="p-fluid">
                                <p-dropdown [options]="lstBancos" formControlName="idbanco" placeholder="Seleccionar..." optionLabel="razonsocial" 
                                    optionValue="idpersona" appendTo="body" class="p-inputtext-sm" (onChange)="changeBanco($event.value)"></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 lg:col-4 md:col-12 field">
                            <label class="block text-900 font-semibold mb-1">Moneda</label>
                            <span class="p-fluid">
                                <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar..." optionLabel="desmoneda"
                                    optionValue="idmoneda" appendTo="body" class="p-inputtext-sm"></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 lg:col-4 md:col-12 field -mt-4">
                            <label class="block text-900 font-semibold mb-1">Tipo Cuenta</label>
                            <span class="p-fluid">
                                <p-dropdown [options]="lstTipocuenta" formControlName="codtipocuenta" placeholder="Seleccionar..." optionLabel="valoritem"
                                    optionValue="iditem" appendTo="body" class="p-inputtext-sm"></p-dropdown>
                            </span>
                        </div>
                        <div class="col-12 lg:col-6 md:col-12 field -mt-4">
                            <label class="block text-900 font-semibold mb-1">Nombre Cuenta </label>
                            <span class="p-fluid">
                                <input pInputText type="text" class="w-full p-inputtext-sm" formControlName="nomcuenta"/>
                            </span>
                        </div>
                        <div class="col-12 lg:col-5 md:col-12 field -mt-4">
                            <label class="block text-900 font-semibold mb-1">Número Cuenta </label>
                            <span class="p-fluid">
                                <input pInputText type="text" class="w-full p-inputtext-sm" formControlName="nrocuenta" maxlength="20" oninput="this.value=this.value.replace(/[^0-9,-]/g,'');"/>
                            </span>
                        </div>
                        <div class="col-12 lg:col-5 md:col-12 field -mt-4">
                            <label class="block text-900 font-semibold mb-1">CCI </label>
                            <span class="p-fluid">
                                <input pInputText type="text" class="w-full p-inputtext-sm" formControlName="nrocci" maxlength="20" oninput="this.value=this.value.replace(/[^0-9,-]/g,'');"/>
                            </span>
                        </div>   
                        <div class="col-12 lg:col-6 md:col-12 -mt-3">
                            <label class="block text-900 font-semibold mb-1">Cuenta Contable <span class="text-red-500 font-bold"> * </span></label>
                            <span >
                                <input pInputText type="text" class="p-inputtext-sm" formControlName="codctactble" />
                            </span>
                        </div>           
                    </div>
                </form>
            </p-tabPanel>   
        </p-tabView> 
    </div>
    

</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-toast></p-toast>