
    <div class="card m-4">
        <div class="grid mt-2">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">                                  
                <div class="mb-1 border-1 surface-border py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-base font-semibold">{{tituloKardex}}</span>
                </div>                         
            </div>
        </div>

        <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid col-10 text-sm col-12">
            <div class="col-6 sm:col-6 lg:col-3 md:col-6 -mt-4">                            
                <label class="text-blue-600 font-semibold mb-1">ALMACÉN </label>                            
                <span>
                    <p-dropdown [options]="lstAlmacenCB" placeholder="Seleccionar Almacén"  formControlName="idalmacen" 
                    optionLabel="nomalmacen" optionValue="idalmacen" appendTo="body" class="p-inputtext-sm"></p-dropdown>            
                </span>
            </div>
            <div class="sm:col-6 lg:col-3 md:col-3 -mt-4 col-6 field">
                <label class="text-blue-600 font-semibold -mb-1">CÓDIGO</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-search cursor-pointer" pTooltip="Busqueda Avanzada de Producto" tooltipPosition="bottom" (click)="getBusquedaAvanzada([])"></i>
                    <input type="text" pInputText formControlName="codproducto" class="p-inputtext-sm" placeholder="Ingresar Código Producto"/>
                </span>
            </div> 
            <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
                <label class="font-semibold text-blue-600">FECHA INICIO</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaInicio" formControlName="fechaini"
                    [readonlyInput]="true" appendTo="body" class="p-inputtext-sm">
                </p-calendar>
            </div>
            <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
                <label class="font-semibold text-blue-600">FECHA FIN</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fechafin"
                    [readonlyInput]="true" appendTo="body" class="p-inputtext-sm"></p-calendar>
            </div>                
            <div class="field col-12 md:col-2 -mt-5 gap-2">
                <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                    class="font-semibold mt-4 justify-content-center h-2.5rem w-3rem w-auto h-auto" icon="pi pi-search"></button>
            </div>
        </form> 

        <p-table #dt1 [value]="lstAlmacen" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
            styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-gridlines -mt-4">
            <ng-template pTemplate="header">
                <tr class="text-sm" >
                    <th rowspan="2" style="width: 20px" class="surface-200" >
                        <div class="flex justify-content-between align-items-center">
                            N°
                        </div>
                    </th>
                    <th rowspan="2" class="surface-200">
                        <div [ngStyle]="{'width':'100px','text-align': 'center'}">
                            FECHA
                        </div>
                    </th>
                    <th rowspan="2" style="width: 300px;" class="surface-200">DETALLE</th>
                    <th rowspan="2" style="width: 200px;" class="surface-200"> ALMACÉN </th>
                    <th colspan="3" class="surface-200">
                        <div [ngStyle]="{'width':'150px','text-align': 'center'}" class="text-green-500">
                            ENTRADAS
                        </div>
                    </th>
                    <th colspan="3" class="surface-200">
                        <div [ngStyle]="{'width':'150px','text-align': 'center'}" class="text-red-500">
                            SALIDAS
                        </div>
                    </th>
                    <th colspan="3" class="surface-200">
                        <div [ngStyle]="{'width':'150px','text-align': 'center'}">
                            SALDOS
                        </div>
                    </th>
                </tr>
                <tr class="text-sm" >
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            CANT
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            P.UNIT
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            TOTAL
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            CANT
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            P.UNIT
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            TOTAL
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            CANT
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            P.UNIT
                        </div>
                    </th>
                    <th colspan="1" class="surface-200">
                        <div [ngStyle]="{'text-align': 'center'}">
                            TOTAL
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale let-rowIndex="rowIndex"> 
                <tr>
                    <td>{{rowIndex + 1}}</td>
                    <td>{{sale.fechamov}}</td>
                    <td>
                        <div pTooltip="{{sale.descripcion | uppercase}}">
                            {{(sale.descripcion.length > 40) ? ((sale.descripcion).slice(0, 40) + '...' | uppercase) : sale.descripcion | uppercase}}
                        </div>  
                    </td>                    
                    <td>{{sale.nomalmacen}}</td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.cantidad_entrada}}
                        </div>                        
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.preciounit_entrada}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.total_entrada}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.cantidad_salida}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.preciounit_entrada}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.total_salida}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.cantidad}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.preciounit_entrada}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'right'}">
                            {{sale.preciocostototal}}
                        </div> 
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Totals</td>
                    <td>{{lastYearTotal | currency: 'USD'}}</td>
                    <td>{{thisYearTotal | currency: 'USD'}}</td>
                </tr>
            </ng-template> -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No se encontraron registros.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="12">Cargando datos. Espere por favor.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>




<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '350px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>


