
<form [formGroup]="registerForm" class="p-2">                    
    <div class="p-fluid grid">
        <!-- <div class="sm:col-6 lg:col-3 md:col-12 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">N° Documento</label>
            <span class="p-fluid">
                <input pInputText type="text" class="font-semibold" formControlName="iddocumentoprc" class="p-inputtext-sm"/>
            </span>
        </div>    
        <div class="sm:col-6 lg:col-3 md:col-12 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">ID Pago</label>
            <span class="p-fluid">
                <input pInputText type="text" class="font-semibold" formControlName="idpagodocprc" class="p-inputtext-sm"/>
            </span>
        </div>   
        <div class="col-2"></div> 
        <div class="sm:col-12 lg:col-4 md:col-12 col-6 justify-content-end h-4rem field">
            <label class="block text-900 font-semibold">Fecha</label>
            <span class="p-input-icon-left w-auto p-fluid -mt-1 p-inputtext-sm" style="height: 3rem;">
                <p-calendar formControlName="fechapago" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="true" [required]="true" inputId="start"
                inputStyleClass="w-full cursor-pointer" appendTo="body" class="p-inputtext-sm" ></p-calendar>
            </span>
        </div>   
        <p-divider class="sm:col-6 lg:col-12 md:col-6 col-12 -mt-2 -mb-4">                                        
        </p-divider>    -->
        <div class="sm:col-6 lg:col-12 md:col-12 h-4rem field">
            <label *ngIf="idtipodocprc === 18" class="block text-900 font-semibold mb-1">Proveedor</label>
            <label *ngIf="idtipodocprc === 17" class="block text-900 font-semibold mb-1">Cliente</label>
            <span class="p-fluid">
                <input pInputText type="text" readonly="true" formControlName="nomempresa" class="p-inputtext-sm surface-200"/>
            </span>
        </div>    
        
        <div class="sm:col-6 lg:col-6 md:col-12 h-4rem field">
            <label class="block text-900 font-semibold mb-1">N° Factura</label>
            <span class="p-fluid">
                <input pInputText type="text" readonly="true" formControlName="nrofactura" class="p-inputtext-sm surface-200"/>
            </span>
        </div> 
        <div class="sm:col-6 lg:col-3 md:col-3 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Monto</label>                        
            <span class="p-fluid">
                <p-inputNumber formControlName="montofactura" locale="es-PE" mode="decimal" [minFractionDigits]="2" inputStyleClass="p-inputtext-sm surface-200" readonly="true"></p-inputNumber>
            </span>
        </div> 
        <div class="sm:col-6 lg:col-3 md:col-12 col-6 justify-content-end h-4rem field">
            <div class="flex mb-1">
                <label class="block text-900 font-semibold">Fecha </label>    
                <i class="pi pi-calendar text-orange-600" style="margin-left: 5px;" ></i> 
            </div>
            <span class="p-input-icon-left w-auto p-fluid " style="height: 2rem;" >
                <p-calendar formControlName="fecprogramacion" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="false" [required]="true" inputId="start"
                inputStyleClass="w-full cursor-pointer p-inputtext-sm surface-200" appendTo="body" [readonlyInput]="false" ></p-calendar>
            </span>
        </div> 
        <div *ngIf="idtipodocprc === 18" class="sm:col-6 lg:col-6 md:col-12 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Banco Proveedor</label>
            <span class="p-fluid">
                <input pInputText type="text" readonly="true" formControlName="bancoproveedor" class="p-inputtext-sm surface-200"/>
            </span>
        </div> 
        <div *ngIf="idtipodocprc === 18" class="sm:col-6 lg:col-6 md:col-12 h-4rem field">
            <label class="block text-900 font-semibold mb-1">N° Cta Proveedor</label>
            <span class="p-fluid">
                <input pInputText type="text" readonly="true" formControlName="nroctaproveedor" class="p-inputtext-sm surface-200"/>
            </span>
        </div> 
        <p-divider class="sm:col-6 lg:col-12 md:col-6 col-12 -mt-2 -mb-4">                                        
        </p-divider> 
        <div class="sm:col-6 lg:col-6 md:col-3 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Banco <span class="text-red-500 font-bold"> * </span></label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstBancos" formControlName="idbanco" placeholder="Seleccionar..." optionLabel="razonsocial" 
                optionValue="idpersona" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm" (onChange)="changeBanco($event.value)"></p-dropdown>
            </span>                                      
        </div> 
        <div class="sm:col-6 lg:col-6 md:col-3 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Cuenta <span class="text-red-500 font-bold"> * </span></label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstCuentas" formControlName="idcuentaprov" placeholder="Seleccionar..." optionLabel="nrocuenta" 
                optionValue="idcuentaprov" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm"></p-dropdown>
            </span>                                      
        </div> 
        <div class="sm:col-6 lg:col-4 md:col-3 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">Monto</label>                        
            <span class="p-fluid">
                <!-- <input pInputText type="text" formControlName="monto" [readonly]=onlyRead class="p-inputtext-sm" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/> -->
                <p-inputNumber class="mt-1" formControlName="monto" locale="es-PE" mode="decimal" [minFractionDigits]="2" 
                [min]="0" class="p-inputtext-sm" [readonly]=onlyRead (onInput)="onValueChange($event.value)"></p-inputNumber>
            </span>
        </div>  
        <div class="sm:col-6 lg:col-4 md:col-3 col-6 h-4rem field ">
            <label class="block text-900 font-semibold mb-1">Moneda</label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar..." optionLabel="desmoneda" 
                optionValue="idmoneda" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm" (onChange)="changeMoneda($event.value)"></p-dropdown>
            </span>                                      
        </div> 
        <div *ngIf="verTC" class="sm:col-6 lg:col-3 md:col-3 col-6 h-4rem">
            <label class="block text-900 font-semibold mb-1">TC<span class="text-red-500 font-bold"> * </span></label>                        
            <span class="p-fluid">
                <p-inputNumber class="mt-1" formControlName="tc" locale="es-PE" mode="decimal" [minFractionDigits]="4" name="tipocambio" 
                [min]="0" [max]="9" class="p-inputtext-sm" [readonly]=onlyRead (onInput)="onValueChangeTc($event.value)"></p-inputNumber>
            </span>
        </div> 
        <div class="sm:col-6 lg:col-4 md:col-12 col-6 h-4rem field">
            <label class="block text-900 font-semibold mb-1">N° Operación<span class="text-red-500 font-bold"> * </span></label>
            <span class="p-fluid">
                <input pInputText type="text" class="font-semibold" formControlName="nrooperacion" class="p-inputtext-sm"/>
            </span>
        </div>  
        
        <!-- <div class="sm:col-6 lg:col-4 md:col-3 col-6 h-4rem field ">
            <label class="block text-900 font-semibold mb-1">Monto Pago<span class="text-red-500 font-bold"> * </span></label>                        
            <span class="p-fluid">
                <p-inputNumber class="mt-1" formControlName="montopago" locale="es-PE" mode="decimal" [minFractionDigits]="2" name="montopago" 
                [min]="0" class="p-inputtext-sm" readonly="true" inputStyleClass="surface-200 text-right"></p-inputNumber>
            </span>
        </div>          -->
        <div class="sm:col-6 lg:col-12 md:col-3 col-12 -mt-2">
            <label class="block text-900 font-semibold">Observación</label>                        
            <span class="p-fluid ">
                <textarea type="text" pInputTextarea [rows]="3" formControlName="observacion" style="resize: none" class="w-full" id="observacion"
                    [readonly]=onlyRead class="p-inputtext-sm"></textarea>
            </span>
        </div> 
    </div>
    <div class="flex justify-content-end">
        <button pButton icon="pi pi-check" label="Confirmar" class="p-button-primary" (click)="registrarPago()"></button>
    </div>     
</form>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>