<p-table #dt1 [value]="lstPagos" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
    [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
    currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
    styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-striped m-2 p-2">
    <ng-template pTemplate="header">
        <tr class="text-sm">
            <th style="width: 10px" class="bg-teal-50 border-1">
                <div class="flex justify-content-between align-items-center">
                    N°
                </div>
            </th>
            <th style="width: 30px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    ID 
                </div>
            </th>
            <th style="width: 150px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    BANCO
                </div>
            </th>
            <th style="width: 50px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    FECHA PAGO
                </div>
            </th>
            <th style="width: 50px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    N° OPERACIÓN
                </div>
            </th>
            <th style="width: 30px;" class="bg-teal-50 border-1" >
                <div class="justify-content-between align-items-center">
                    MONEDA
                </div>
            </th>
            <th style="width: 70px;" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'70px','text-align':'center'}">
                    MONTO
                </div>
            </th>
            <th style="width: 70px;" class="bg-teal-50 border-1" >
                <div [ngStyle]="{'width':'70px','text-align':'center'}">
                    ESTADO
                </div>
            </th>
            <th style="width: 30px;" class="bg-teal-50 border-1">
                <div class="flex justify-content-between align-items-center">
                    ACCIONES
                </div>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr class="text-sm">
            <td [ngStyle]="{'width':'10px'}">
                {{rowIndex + 1}}
            </td>
            <td>
                <div [ngStyle]="{'width':'30px'}">
                    {{data.idpagodocprc}}
                </div>
            </td>
            <td >
                <div [ngStyle]="{'width':'50px'}">
                    {{data.nombanco}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'100px'}">
                    {{data.fechapago}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'100px'}">
                    {{data.nrooperacion}}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'30px'}">
                    {{data.simbmoneda }}
                </div>
            </td>
            <td>
                <div [ngStyle]="{'width':'70px','text-align':'right'}">
                    {{data.montopago | number: '0.2-2' }}
                </div>
            </td>
            <td>                       
                <div [ngStyle]="{'width':'80px','text-align': 'center'}">
                    <p-tag [value]="data.estado" [severity]="data.serevity_estado"></p-tag>
                </div>
            </td>
            <td>
                <div *ngIf="data.estado !== 'EXTORNADO' " class="flex align-items-center m:justify-content-end" [ngStyle]="{'width':'30px'}">
                    <button  pButton pRipple type="button" icon="pi pi-trash" tooltipPosition="bottom" pTooltip="Eliminar" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 text-red-500" (click)="onEliminar(data)"></button>
                    <button *ngIf="!verEditarPagos" pButton pRipple type="button" icon="pi pi-file-edit" tooltipPosition="bottom" pTooltip="Editar" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0" (click)="onEdit(data)"></button>
                
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan="6" class="text-right">Total: </td>
            <td>
                <div [ngStyle]="{'width':'70px','text-align':'right'}">
                    {{summontoTotal | number: '0.2-2' }}
                </div>
            </td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="12">No se encontraron registros.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr>
            <td colspan="12">Cargando datos. Espere por favor.</td>
        </tr>
    </ng-template>
</p-table>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>