<div class="p-datatable p-component custom-table-wrapper ">
	<table class="p-datatable-table">
		<thead class="p-datatable-thead">
			<tr>
				<th class="p-datatable-thead-cell p-text-center p-px-2" style="min-width: 180px; background: #f4f4f4;">Habitación</th>
				<th *ngFor="let dia of dias" class="p-datatable-thead-cell p-text-center p-px-2" style="background: #f4f4f4;">{{ dia }}</th>
			</tr>
		</thead>
		<tbody class="p-datatable-tbody">
			<tr *ngFor="let habitacion of dataHabitaciones.habitaciones" class="p-datatable-row">
				<td class="p-datatable-td p-px-2 p-py-2 p-text-bold" 
						style="background: #f9fafb; border-right: 1px solid #e0e0e0; cursor: pointer;"
						[attr.title]="habitacion.mensaje">
					{{ habitacion.nrohabitacion }} - {{ habitacion.deshabitacion }}
				</td>
				<td *ngFor="let dia of dias" class="p-datatable-td p-px-1 p-py-1" style="border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;">
					<ng-container *ngIf="getFechaInfo(habitacion, dia) as fechaInfo; else sindata">
						<span
							[style.background-color]="fechaInfo.color"
							[attr.title]="fechaInfo.mensaje"
							class="cell-content"
							style="display: flex; align-items: center; justify-content: center; width: 100%; height: 32px; border-radius: 6px; cursor: pointer; color: #fff; font-weight: 500; box-shadow: 0 1px 2px rgba(0,0,0,0.04);"
						>
						</span>
					</ng-container>
					<ng-template #sindata>
						<span style="display: block; height: 32px;"></span>
					</ng-template>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-toast></p-toast>