<div class="card m-4">
    <div class="grid mt-2">
        <div class="flex justify-content-between col-12 -mt-3 gap-2">                                  
            <div class="mb-1 border-1 surface-border py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                <span class="text-base font-semibold">CONCILIACIÓN BANCARIA</span>
            </div>                         
        </div>
    </div>

    <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid lg:col-9 col-12 text-sm">
        <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
            <label class="font-semibold text-blue-600 text-base">Desde</label>
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaInicio" formControlName="fecini"
                [readonlyInput]="true" appendTo="body" class="p-inputtext-sm">
            </p-calendar>
        </div>
        <div class="md:col-6 sm:col-4 lg:col-2 col-6 -mt-4">
            <label class="font-semibold text-blue-600 text-base">Hasta</label>
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fecfin"
                [readonlyInput]="true" appendTo="body" class="p-inputtext-sm"></p-calendar>
        </div>    
        <!-- <div class="sm:col-6 lg:col-3 md:col-6 col-6 -mt-4">
            <label class="font-semibold text-blue-600 text-base">Moneda</label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar..." optionLabel="desmoneda" 
                optionValue="idmoneda" appendTo="body" class="p-inputtext-sm"></p-dropdown>
            </span>                                      
        </div>           -->
        
        <div class="field col-12 md:col-2 -mt-4 gap-2">
            <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto h-auto" icon="pi pi-search"></button>
            <!-- <button pButton type="button" pTooltip="Exportar Excel" tooltipPosition="bottom" 
                class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto bg-green-500 ml-2" icon="pi pi-file-excel"></button> -->
        </div>
    </form> 

    <!-- <p-tabView (onChange)="selectHeaders($event);" styleClass="-mt-4">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Ingresos
                    </span>
                </div>
            </ng-template>
            <p-table [columns]="selectedColumns" [value]="products" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
            styleClass="p-datatable-sm card border-1 border-round surface-border ">
    
            <ng-template pTemplate="caption">       
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" appendTo="body"
                selectedItemsLabel="{0} Columnas Seleccionadas" styleClass="p-inputtext-sm text-blue-600" placeholder="Seleccionar Columnas"></p-multiSelect>        
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th  class="bg-teal-50 border-1">Razón Social</th>
                    <th  class="bg-teal-50 border-1" *ngFor="let col of columns" >
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
           
            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr>
                    <td>{{product.name}}</td>
                    <td *ngFor="let col of columns">
                        {{product[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
            
        </p-tabPanel> 
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="fa-solid fa-cash-register"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Egresos 
                    </span>
                </div>
            </ng-template>
            <p-table [columns]="selectedColumns" [value]="products" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
            styleClass="p-datatable-sm card border-1 border-round surface-border ">
    
            <ng-template pTemplate="caption">       
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" appendTo="body"
                selectedItemsLabel="{0} Columnas Seleccionadas" styleClass="p-inputtext-sm text-blue-600" placeholder="Seleccionar Columnas"></p-multiSelect>        
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th  class="bg-teal-50 border-1">Razón Social</th>
                    <th  class="bg-teal-50 border-1" *ngFor="let col of columns" >
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
           
            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr>
                    <td>{{product.name}}</td>
                    <td *ngFor="let col of columns">
                        {{product[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
            
        </p-tabPanel> 
    </p-tabView> -->

</div>

<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '350px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>