<div class="flex">
    <div class="field col-6 lg:col-2 -ml-3">
        <label class="font-semibold text-blue-600">Terminos de Pago</label>
        <p-dropdown [options]="lstTermino" [ngModel]="idestado" optionLabel="valoritem" placeholder="Seleccionar..." class="p-inputtext-sm"
                optionValue="iditem" appendTo="body" [ngModelOptions]="{standalone: true}" (onChange)="saveTerminoPago($event.value)" ></p-dropdown>
    </div>
</div>

<div class="grid">
    <div class="flex justify-content-between col-12 -mt-3">
        <div class="mb-1 border-1 surface-border py-3 h-2rem flex border-round mt-2 p-2 fonthead2 w-full align-items-center">
            <span class="text-base font-semibold">LÍNEAS DE CRÉDITO</span>
        </div>
        <div style="display: flex; justify-content: end;" class="mt-2 pl-2 h-2rem">
            <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-plus" label="Agregar" (click)="agregarLinea()"></button>
        </div>
    </div>
</div>

<p-table #dt1 [value]="lstCredito" [rows]="10" [rowHover]="true" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
    [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm"
    responsiveLayout="scroll" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} Registros">

    <ng-template pTemplate="header">
        <tr class="text-sm">
            <th style="width: 40px;" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    N°
                </div>
            </th>
            <th style="min-width: 12rem" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    NOMBRE
                </div>
            </th>
            <th style="width: 100px;" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    DESDE
                </div>
            </th>
            <th style="width: 100px;" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    HASTA
                </div>
            </th>
            <th style="width: 150px;" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    MONEDA 
                </div>
            </th>
            <th style="width: 100px;" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    MONTO
                </div>
            </th>
            <th style="width: 100px;" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    SALDO
                </div>
            </th>
            <th style="min-width: 10rem" class="surface-200">
                <div class="flex justify-content-between align-items-center">
                    ACCIONES
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr class="text-sm">
            <td>
                {{rowIndex + 1}}
            </td>
            <td>
                {{data.nomlinea | uppercase}}
            </td>
            <td>
                {{data.fechavcto | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                {{data.fechavcto | date: 'dd/MM/yyyy'}}
            </td>
            <td>
                {{data.desmoneda }}
            </td>
            <td>
                {{data.montolinea | number: '3.2'}}
            </td>            
            <td>
                {{data.saldo | number: '3.2'}}
            </td>
            <td style="text-align: start;">
                <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="left" (click)="editarLinea(data)" class="p-button-rounded p-button-text mr-2 -mt-2"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="left" (click)="eliminarLinea(data)" class="p-button-rounded p-button-text mr-2 -mt-2 text-red-500"></button>
                <button pButton pRipple type="button" icon="pi pi-paperclip" pTooltip="Anjuntos" tooltipPosition="left" (click)="agregarAdjunto(data)" class="p-button-rounded p-button-text mr-2 -mt-2"></button>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No se encontraron registros.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr>
            <td colspan="8">Cargando datos. Espere por favor.</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="lineaVisible" [modal]="true" [closeOnEscape]="false" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '85vw'}">
    <p-header styleClass="testDialog"> <i class="pi pi-folder-open" style="margin-right: 10px;"></i>{{ headerTitle }} </p-header>

        <form [formGroup]="registerFormLinea" (ngSubmit)="guardarLinea()">
            <div class="p-fluid border-1 surface-border mb-2 bg-blue-50 p-2 border-round m-2 grid">
                <span [hidden]="true"> {{ IdLinea }} </span>
                <div class="col-12 field h-4rem">
                    <div class="flex">
                        <label class="block text-900 font-semibold mb-1">Descripción</label>
                    </div>
                    <span class="p-fluid">
                        <input pInputText type="text" class="w-full" formControlName="nomlinea"/>
                        <p class="text-red-600" *ngIf="submittedLinea && formLinea.nomlinea.errors" class="p-inputtext-sm">* Debe Ingresar Línea</p>
                    </span>
                </div>
                <div class="col-6 field h-4rem ">
                    <div class="flex">
                        <label class="block text-900 font-semibold mb-1">Desde</label>
                    </div>
                    <span class="p-fluid">
                        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechavcto" dateType="string" 
                            [readonlyInput]="true" appendTo="body" formControlName="fechavcto" >
                        </p-calendar>
                        <p class="text-red-600" *ngIf="submittedLinea && formLinea.fechavcto.errors">* Debe Ingresar Desde</p>
                    </span>
                </div>
                <div class="col-6 field h-4rem ">
                    <div class="flex">
                        <label class="block text-900 font-semibold mb-1">Hasta</label>
                    </div>
                    <span class="p-fluid">
                        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechavcto" dateType="string" 
                            [readonlyInput]="true" appendTo="body" formControlName="fechavcto">
                        </p-calendar>
                        <p class="text-red-600" *ngIf="submittedLinea && formLinea.fechavcto.errors">* Debe Ingresar Hasta</p>
                    </span>
                </div>
                <div class="col-6 field h-4rem mb-4">
                    <div class="flex">
                        <label class="block text-900 font-semibold mb-1">Moneda</label>
                    </div>
                    <span class="p-fluid">
                        <p-dropdown [options]="lstMoneda" formControlName="idmoneda" placeholder="Seleccionar..." optionLabel="desmoneda"
                          optionValue="idmoneda" appendTo="body" class="p-inputtext-sm" ></p-dropdown>
                          <p class="text-red-600" *ngIf="submittedLinea && formLinea.idmoneda.errors">* Debe Seleccionar Moneda</p>
                    </span>
                </div>
                <div class="col-3 field h-4rem mb-4">
                    <div class="flex">
                        <label class="block text-900 font-semibold mb-1">Monto</label>
                    </div>
                    <span class="p-fluid">
                        <p-inputNumber class="w-full" formControlName="montolinea" locale="es-PE" mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm"></p-inputNumber>
                        <p class="text-red-600" *ngIf="submittedLinea && formLinea.montolinea.errors">* Debe Ingresar Monto</p>
                    </span>
                </div>
                <div class="col-3 field h-4rem mb-4">
                    <div class="flex">
                        <label class="block text-900 font-semibold mb-1">Saldo</label>
                    </div>
                    <span class="p-fluid">
                        <p-inputNumber class="w-full" formControlName="saldo" locale="es-PE" mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm"></p-inputNumber>
                        <p class="text-red-600" *ngIf="submittedLinea && formLinea.saldo.errors">* Debe Ingresar Saldo</p>
                    </span>
                    
                </div>
                
            </div>
            <div class="flex justify-content-end">
                <button pButton icon="pi pi-check" label="Guardar" type="submit" class="p-button-primary w-auto h-2rem"></button>
            </div>
        </form>

</p-dialog>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
