
<p-card class="m-2 gap-1">
    <ng-template pTemplate="content">
        <div class="p-fluid grid -mb-4 -mt-3">           
            <div class="col-3 h-3rem flex flex-column -mt-3">
                <label class="font-semibold">ID/N°</label>
                <label>{{ordencompra.labelnrodocumento}}</label>
            </div>
            <div class="col-3 h-3rem flex flex-column -mt-3">
                <label class="font-semibold">MONTO</label>
                <label>{{ordencompra.simbmoneda}}{{ordencompra.s_monto_total | number: '3.2'}}</label>
            </div>
            <div class="col-6 h-3rem flex flex-column -mt-3">
                <label class="font-semibold">CÓDIGO PROYECTO</label>
                <label>{{ordencompra.codigoproyecto}}</label>
            </div>    
            <div class="col-12  flex flex-column mb-auto">
                <label class="font-semibold">NOMBRE PROYECTO</label>
                <label>{{ordencompra.nomproyecto}}</label>
            </div>  
            <div class="col-12">
                <label class="font-semibold">COMENTARIO</label>
                <textarea id="description" name="description" type="text" [(ngModel)]="descripcion" pInputTextarea [rows]="2" style="resize: none" 
                class="w-full mt-1 p-inputtext-sm"></textarea>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer" class="h-3rem">
        <button pButton [label]="btnTitleAccion" (click)="procesarTRX(btnIdAccion)" [className]="btnColor" type="submit" ></button>
    </ng-template>
    
</p-card>
