
<p-card class="m-2 gap-1">
    <ng-template pTemplate="content">
        <div class="p-fluid grid -mb-4">           
            <div class="col-6 h-3rem flex flex-column">
                <label class="font-semibold">PROVEEDOR</label>
                <label>{{ordencompra.nomcomercial | uppercase}}</label>
            </div>
            <div class="col-6 h-3rem flex flex-column">
                <label class="font-semibold">CÓDIGO</label>
                <label>{{ordencompra.codigoproyecto | uppercase}}</label>
            </div>
            <div class="col-12 h-3rem flex flex-column">
                <label class="font-semibold">PROYECTO</label>
                <label>{{ordencompra.nomproyecto | uppercase}}</label>
            </div>     
            <div class="col-12">
                <label class="font-semibold">DESCRIPCIÓN</label>
                <textarea id="description" name="description" type="text" [(ngModel)]="descripcion" pInputTextarea [rows]="2" style="resize: none" class="w-full mt-1"></textarea>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer" class="h-3rem">
        <button pButton [icon]="btnIconAccion" [label]="btnTitleAccion" (click)="procesarTRX(btnIdAccion)" [className]="btnColor" type="submit" ></button>
    </ng-template>
    
</p-card>
