<div class="mt-3">
    
    <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid col-12">
       
            <div class="sm:col-6 lg:col-4 md:col-3 col-12 -mt-3 field">
                <label class="font-semibold mb-1 text-blue-600">DESCRIPCIÓN</label>                        
                <span class="p-fluid">
                    <textarea type="text" pInputTextarea [rows]="1" formControlName="desproducto" style="resize: none" class="w-full p-inputtext-sm" ></textarea>
                </span>
            </div>
            <div class="sm:col-6 lg:col-3 md:col-6 col-12 -mt-3 field">                            
                <label class="font-semibold mb-1 text-blue-600">GRUPO</label>                            
                <span>
                    <p-dropdown [options]="lstFamilia" placeholder="Seleccionar..."  formControlName="idfamilia" class="p-inputtext-sm"
                    optionLabel="nomfamilia" optionValue="idfamilia" appendTo="body"  (onChange)="getSubFamilia($event.value)"></p-dropdown>            
                </span>
            </div> 
            <div class="col-12 sm:col-6 lg:col-3 md:col-12 -mt-3 field">                            
                <label class="font-semibold mb-1 text-blue-600">CATEGORIA</label>                            
                <span>
                    <p-dropdown [options]="lstSubFamilia" placeholder="Seleccionar..."  formControlName="idsubfamilia" class="p-inputtext-sm"
                    optionLabel="nomsubfamilia" optionValue="idsubfamilia" appendTo="body" ></p-dropdown>            
                </span>
            </div> 
           
            <div class="field col-6 md:col-2 -mt-3 gap-2">
                <button pButton type="button" (click)="getListar()" pTooltip="Buscar" tooltipPosition="bottom" 
                    class="font-semibold mt-4 justify-content-center h-2.5rem w-3rem w-auto h-auto" icon="pi pi-search"></button>
            </div>
    </form> 

    <p-table #dt1 [value]="lstProducto" [rows]="5" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[5,10]"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
        styleClass="p-datatable-sm">
           <ng-template pTemplate="header">
            <tr class="text-sm" >
                <th style="width: 20px" class="surface-200" >
                    <div class="flex justify-content-between align-items-center">
                        N°
                    </div>
                </th>
                <th class="surface-200">
                    <div [ngStyle]="{'text-align': 'center'}">
                        CÓDIGO
                    </div>
                </th>
                <th style="width: 300px;" class="surface-200">PRODUCTO</th>
                <th style="width: 300px;" class="surface-200">GRUPO</th>
                <th style="width: 300px;" class="surface-200">CATEGORIA</th>
                <th style="width: 300px;" class="surface-200">MARCA</th>
                <th style="width: 300px;" class="surface-200">MODELO</th>
                <th style="width: 300px;" class="surface-200" *ngIf="verAlm">CANTIDAD</th>
                <th style="width: 300px;" class="surface-200" *ngIf="verAlm">UBICACIÓN</th>
                <th style="width: 300px;" class="surface-200">SELECCIONAR</th>            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{data.codproducto}}</td>
                <td>
                    <div pTooltip="{{data.despro | uppercase}}">
                        {{(data.despro.length > 40) ? ((data.despro).slice(0, 40) + '...' | uppercase) : data.despro | uppercase}}
                    </div>  
                </td>
                <td>{{data.nomfamilia}}</td>
                <td>{{data.nomsubfamilia}}</td>
                <td>{{data.nommarca}}</td>
                <td>{{data.modelo}}</td>
                <td *ngIf="verAlm">{{data.saldostock}}</td>
                <td *ngIf="verAlm">{{data.rutaubicacion}}</td>
                <td>
                    <button pButton type="button" icon="pi pi-check" tooltipPosition="bottom" pTooltip="Seleccionar Producto" (click)="seleccionarProducto(data)"></button>                     
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="12">No se encontraron registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="12">Cargando datos. Espere por favor.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
