<ng-container *ngIf="vistaLista; else visSecciones">
    <div class="card">
        <div class="grid">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">
                <div class="mb-1 border-1 surface-border py-3 h-3rem flex border-round mt-2 p-2 fonthead w-full">
                    <span class="text-base font-semibold">ORDEN DE COMPRA/SERVICIOS</span>
                </div>
                <div style="display: flex; justify-content: end;" class="mt-2 pl-2 h-3rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-file" label="NUEVO"
                        pTooltip="Nueva Orden" tooltipPosition="left" (click)="onNuevo()" ></button>
                </div>
            </div>
        </div>
        <!-- <div class="grid px-3">
            <div class="mb-1 py-3 h-3rem flex border-round p-2 mt-2 fonthead w-full text-base">
                <span class="font-semibold">ORDEN DE COMPRA/SERVICIOS</span>
            </div>
        </div> -->
        <form [formGroup]="frmDatos">
            <div class="p-fluid p-formgrid grid col-10 -mb-3 -mt-3 text-sm">
                <!-- <div class="field col-12 md:col-2">
                    <label class="font-semibold">ESTADO</label>
                        <p-dropdown [options]="dropdownItemsEstado" formControlName="idestado" optionLabel="name" placeholder="Seleccionar Estado"
                            optionValue="code" ></p-dropdown>
                </div> -->
                <div class="field col-12 md:col-2">
                    <label htmlFor="fechaInicio" class="font-semibold">FECHA INICIO</label>
                    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaInicio" formControlName="fecini"
                        [readonlyInput]="true" appendTo="body">
                    </p-calendar>
                </div>
                <div class="field col-12 md:col-2">
                    <label htmlFor="fechaFin" class="font-semibold">FECHA FIN</label>
                    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fecfin"
                        [readonlyInput]="true" appendTo="body"></p-calendar>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton type="button" (click)="getListarOrdenCompra()" pTooltip="Buscar Registros"
                        class="font-semibold p-button-outlined mt-4 justify-content-center h-3rem" icon="pi pi-search"></button>
                </div>
            </div>
        </form>

        <p-table [value]="lstOrdenCompra" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" styleClass="p-datatable-sm">

            <!-- [globalFilterFields]="['title','nomcreador','nompreventa','nomcomercial','nomproveedor','monto']" -->

            <ng-template pTemplate="header">
                <tr class="text-sm">
                    <th class="surface-200">
                        <div class="flex justify-content-between align-items-center">
                            N°
                        </div>
                    </th>
                    <!-- <th [ngStyle]="{'width':'50px'}"  class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            ID OC
                        </div>
                    </th> -->
                    <th [ngStyle]="{'width':'50px'}" class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            N° OC
                        </div>
                    </th>
                    <th style="width: 250px;" class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            PROVEEDOR
                        </div>
                    </th>
                    <th style="width: 250px;" class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            MONEDA
                        </div>
                    </th>
                    <th style="width: 250px;" class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            MONTO
                        </div>
                    </th>
                    <th style="width: 250px;" class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            COD PROYECTO
                        </div>
                    </th>
                    <th style="width: 250px;" class="surface-200" >
                        <div class="justify-content-between align-items-center">
                            PROYECTO
                        </div>
                    </th>
                    <th style="width: 80px;" class="surface-200">
                        <div class="flex justify-content-between align-items-center">
                            ACCIONES
                        </div>
                    </th>
                </tr>
                <!-- <tr >
                    <th></th>
                    <th >
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" class="w-full h-2rem">
                    </th>
                </tr> -->

            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                <tr class="text-sm">
                    <td>
                        {{rowIndex + 1}}
                    </td>
                    <!-- <td >
                        <div [ngStyle]="{'width':'50px'}">
                            {{data.nrooperacion}}
                        </div>
                    </td> -->
                    <td>
                        <div [ngStyle]="{'width':'50px'}">
                            {{data.idordencompra}}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'250px'}">
                            {{data.nomcomercial | uppercase}}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'100px'}">
                            {{data.nommoneda | uppercase}}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'100px'}">
                            {{data.s_monto | number: '3.2' }}
                        </div>
                    </td>
                    <td >
                        <div [ngStyle]="{'width':'80px'}">
                            {{data.codigoproyecto }}
                        </div>
                    </td>
                    <td>
                        <div [ngStyle]="{'width':'80px'}">
                            {{data.nomproyecto | uppercase}}
                        </div>
                    </td>
                    <td>
                        <div class="flex align-items-center m:justify-content-end" [ngStyle]="{'width':'160px'}">
                            <button pButton pRipple type="button" icon="pi pi-eye" tooltipPosition="left" pTooltip="Ver OC" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="onVer(data)"></button>
                            <button pButton pRipple type="button" icon="pi pi-file-edit" tooltipPosition="left" pTooltip="Editar OC" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="onEditar(data)"></button>
                            <!-- <button pButton pRipple type="button" icon="pi pi-money-bill" tooltipPosition="left" pTooltip="Ver BC" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0" (click)="verCotiza(data)"></button> -->
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontraron registros.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando datos. Espere por favor.</td>8
                </tr>
            </ng-template>
        </p-table>



    </div>
</ng-container>

<ng-template #visSecciones>

    <div class="p-fluid p-3 mb-1 card" (OB_back)="getDetalle($event)">
        <div class="grid">
            <div class="flex justify-content-between col-12 -mt-3">
                <div class="mb-1 border-1 surface-border py-3 h-3rem flex border-round mt-2 p-2 fonthead w-full">
                    <span class="text-lg font-semibold">{{tituloDetalle}}</span>
                </div>
                
                <div style="display: flex; justify-content: end;" class="mt-2 pl-2 h-3rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-backward" label="Regresar"
                        pTooltip="Regresar a Bandeja" tooltipPosition="left" (click)="getBack()" ></button>
                    
                </div>
            </div>
        </div>
        <app-c-cabeceraoc [IA_data]="tipoOC"></app-c-cabeceraoc>
    </div>

    <!-- <div class="p-fluid p-3 mb-1 card" *ngIf="visQuote" (OB_back)="getDetalle($event)">
        <div class="grid">
            <div class="flex justify-content-between col-12 -mt-3">
                <div class="mb-1 border-1 surface-border py-3 h-3rem flex border-round mt-2 p-2 fonthead w-full">
                    <span class="text-lg font-semibold">{{tituloDetalle}}</span>
                </div>
                <div style="display: flex; justify-content: end;" class="mt-2 pl-2 h-3rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-backward" label="Regresar"
                        pTooltip="Regresar a Bandeja" tooltipPosition="left" (click)="getBack()" ></button>
                </div>
            </div>
        </div>
        <app-c-cotizacion ></app-c-cotizacion>
    </div> -->



</ng-template>

<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '450px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>

