<div class="p-fluid py-0 border-1 surface-border border-round  col-12 mt-2">

    <form [formGroup]="frmDatosItem">
            <div class="flex grid mt-1">                
                <div *ngIf="verporGastoCorriente" class="sm:col-12 lg:col-5 md:col-12 ">
                    <label class="font-semibold">Código</label>
                    <div class="p-inputgroup">
                        <input pInputText type="text" formControlName="codproducto" class="p-inputtext-sm" placeholder="Ingresar Código..."/>
                        <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn" (click)="buscarProducto()"></button>
                    </div>                    
                </div> 
                <div *ngIf="verporGastoCorriente" class="sm:col-12 lg:col-2 md:col-12 mt-3 gap-2"> 
                    <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn" class="h-2.5rem font-semibold p-button-outlined" (click)="getBusquedaAvanzada([])"
                        pTooltip="Busqueda Avanzada de Producto" tooltipPosition="bottom"></button>
                    <button type="button" pButton icon="pi pi-plus" styleClass="p-button-warn" class="h-2.5rem ml-2 font-bold p-button-outlined text-green-600" (click)="altaRapida()"
                    pTooltip="Alta Rapida de Producto" tooltipPosition="bottom"></button>
                </div>
                <div *ngIf="verMarca" class="sm:col-12 lg:col-5 md:col-12">
                    <label class="font-semibold">Marca</label>
                    <input pInputText type="text" formControlName="nommarca" class="p-inputtext-sm surface-200" [readonly]=true />
                </div>  
                <div *ngIf="verporGastoCorriente" class="sm:col-12 lg:col-12 md:col-12">
                    <label class="font-semibold">Producto</label>
                    <textarea id="description" type="text" formControlName="despro" pInputTextarea [rows]="1"
                        style="resize: none" class="w-full" class="p-inputtext-sm surface-200" [readonly]=true></textarea>
                </div>              
            </div>
            <div class="flex grid">
                <div class="sm:col-12 lg:col-12 md:col-12">
                    <label class="font-semibold">Detalle</label>
                    <textarea id="description" type="text" formControlName="descripcion" pInputTextarea [rows]="3"
                        style="resize: none" class="w-full" class="p-inputtext-sm"></textarea>
                </div> 
            </div>
            <div class="flex grid">
                <div class="sm:col-12 lg:col-8 md:col-12">
                    <label class="block text-900 font-semibold mb-1">Tipo IGV</label>
                <span>
                    <p-dropdown [options]="lstTipoND" placeholder="Seleccionar..."  formControlName="tipoigv" 
                    optionLabel="nomitemsunat" optionValue="codsunat" appendTo="body" class="p-inputtext-sm"></p-dropdown>            
                </span>
                </div> 
            </div> 
            <div class="flex grid">    
               <div class="sm:col-12 lg:col-2 md:col-12">
                    <label class="font-semibold">Cantidad</label>
                    <p-inputNumber (onInput)="calcularBCQ($event)" formControlName="cantidad" class="p-inputtext-sm"></p-inputNumber>
                </div>
                <div class="sm:col-12 lg:col-3 md:col-12">
                    <label class="font-semibold">Uni. Medida</label>
                    <span>
                        <p-dropdown [options]="lstUnidades" formControlName="idunidad" optionLabel="valoritem" placeholder="Seleccionar..."
                        optionValue="iditem" appendTo="body" class="p-inputtext-sm"></p-dropdown>
                    </span>
                </div>    
                <div *ngIf="!verporTipo" class="sm:col-12 lg:col-3 md:col-12 ">
                    <label class="font-semibold">P. Unitario</label>
                    <p-inputNumber (onInput)="calcularBCPu($event)" formControlName="preciocosto" mode="decimal" locale="en-US" [minFractionDigits]="6" class="p-inputtext-sm"></p-inputNumber>
                </div>
                <div *ngIf="!verporTipo" class="sm:col-12 lg:col-3 md:col-12">
                    <label class="font-semibold">Total</label>
                    <p-inputNumber class="surface-100 font-bold" formControlName="preciocostototal" mode="decimal" locale="en-US" [minFractionDigits]="6" class="p-inputtext-sm"></p-inputNumber>
                </div>            
            </div>
            <div *ngIf="verTag" class="flex grid mt-1">
                <div class="col-12 -mt-5 -mb-5">
                    <p-divider ></p-divider>
                </div>
                <div class="col-12 sm:col-12 lg:col-4 md:col-12">
                    <div class="flex">
                        <label class="block text-900 font-semibold">Tag</label>
                        <i class="pi pi-tag cursor-pointer" style="margin-left: 10px;" pTooltip="Agregar Tag"
                        tooltipPosition="right" (click)="NuevoTag();"></i>
                    </div>
                    <p-dropdown [options]="lstTag" optionLabel="valoritem" class="p-inputtext-sm"
                        optionValue="iditem" placeholder="Seleccionar Tag" appendTo="body" (onChange)="addTag($event.value)"></p-dropdown>
                </div>
                <div class="col-12 sm:col-12 lg:col-8 md:col-12">
                    <p-table [value]="listaTag" class="ml-2" responsiveLayout="sc" [breakpoint]="'560px'" [tableStyle]="{'min-width': '30rem'}"
                    [scrollable]="true" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [ngStyle]="{'width':'20px'}" class="surface-200">N°</th>
                                <th class="surface-200">TAG</th>
                                <th class="surface-200">VALOR</th>
                                <th class="surface-200"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tag let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex + 1}}</td>
                                <td>{{ tag.nomtag }}</td>
                                <td [pEditableColumn]="tag.valor" pEditableColumnField="valor" class="cursor-pointer">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <div [formGroup]="frmDatosItem">
                                                <input pInputText type="text" [(ngModel)]="tag.valor" required [ngModelOptions]="{standalone: true}"/>
                                              </div>
                                            
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ tag.valor }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <!-- <td>{{ tag.valor }}</td> -->
                                <td>
                                    <div class="flex justify-content-end">
                                        <button pButton pRipple icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="left" (click)="eliminarTag(tag)" class="p-button-text p-button-rounded text-900 text-red-600"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table> 
                </div>                
            </div>
    </form>
</div>




<div class="flex justify-content-end">
    <button pButton icon="pi pi-check" label="Agregar" (click)="guardarItem()"
    class="w-full sm:w-auto flex-order-0 sm:flex-order-0 p-button-primary mt-2"></button> 
</div>

<p-dialog [(visible)]="tagVisible" [modal]="true" [closeOnEscape]="false" showEffect="fade" [style]="{width: '20vw'}" [breakpoints]="{'960px': '75vw'}">
    <p-header> <i class="pi pi-tag" style="margin-right: 10px;"></i>Agregar TAG </p-header>
        <form [formGroup]="registerFormTag" (ngSubmit)="guardarTag()">
            <div class="p-fluid py-4 border-1 surface-border mb-3 p-3 border-round mt-2">
                <div class="mb-3 field">
                    <label class="font-semibold">Descripción</label>
                    <input pInputText type="text" formControlName="nomtag" id="nomtag" class="p-inputtext-sm"/>
                </div>
            </div>
            <div class="flex justify-content-end">
                <button pButton icon="pi pi-check" label="Agregar" type="submit" class="p-button-primary"></button>
            </div>
        </form>
</p-dialog>