<div class="mt-3">
    
    <form [formGroup]="frmDatos" class="p-fluid p-formgrid grid col-12" (keydown.enter)="getListar(0)">
       
            <div class="sm:col-6 lg:col-4 md:col-3 col-12 -mt-3 field">
                <label class="font-semibold mb-1 text-blue-600">DESCRIPCIÓN</label>                        
                <span class="p-fluid">
                    <textarea #descripcion type="text" pInputTextarea [rows]="1" formControlName="desproducto" style="resize: none" class="w-full p-inputtext-sm" (keydown.enter)="$event.preventDefault(); getListar(0)"></textarea>
                </span>
            </div>

            <div class="field col-12 md:col-2 -mt-3">
                <div class="flex flex-col md:flex-row gap-2 w-full">
                    <button *ngFor="let button of lstBotones" pButton (click)="getListar(button.codigo)"
                        tooltipPosition="bottom" type="button"
                        class="font-semibold mt-0 md:mt-4 justify-content-center h-2.5rem w-full md:w-auto px-6 h-auto">{{button.descripcion}}</button>
                </div>
            </div>
    </form> 

    <p-table #dt1 [value]="lstProducto" [rows]="5" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[5,10]"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
        styleClass="p-datatable-sm">
           <ng-template pTemplate="header">
            <tr class="text-sm" >
                <th style="width: 20px" class="surface-200" >
                    <div class="flex justify-content-between align-items-center">
                        N°
                    </div>
                </th>
                <th class="surface-200">
                    <div [ngStyle]="{'text-align': 'center'}">
                        CÓDIGO
                    </div>
                </th>
                <th style="width: 300px;" class="surface-200">PRODUCTO</th>
                <th style="width: 300px;" class="surface-200">GRUPO</th>
                <th style="width: 300px;" class="surface-200">CATEGORIA</th>
                <th style="width: 300px;" class="surface-200">CANTIDAD</th>
                <th style="width: 300px;" class="surface-200" *ngIf="verAlm">CANTIDAD</th>
                <th style="width: 300px;" class="surface-200" *ngIf="verAlm">UBICACIÓN</th>
                <th style="width: 300px;" class="surface-200">SELECCIONAR</th>            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{data.codproducto}}</td>
                <td>
                    <div pTooltip="{{data.despro | uppercase}}">
                        {{(data.despro.length > 40) ? ((data.despro).slice(0, 40) + '...' | uppercase) : data.despro | uppercase}}
                    </div>  
                </td>
                <td>{{data.nomfamilia}}</td>
                <td>{{data.nomsubfamilia}}</td>
                <td> 
                    <p-inputNumber 
                        [(ngModel)]="data.cantidad" 
                        [showButtons]="true" 
                        buttonLayout="horizontal" 
                        inputId="horizontal" 
                        spinnerMode="horizontal" 
                        [step]="1"
                        [min]="0" 
                        decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success"
                        incrementButtonIcon="pi pi-plus" 
                        decrementButtonIcon="pi pi-minus" 
                    />
                </td>
                <td *ngIf="verAlm">{{data.saldostock}}</td>
                <td *ngIf="verAlm">{{data.rutaubicacion}}</td>
                <td>
                    <button pButton type="button" icon="pi pi-check" tooltipPosition="bottom" pTooltip="Seleccionar Producto" (click)="seleccionarProducto(data)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="12">No se encontraron registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="12">Cargando datos. Espere por favor.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
