<ng-container *ngIf="vistaLista; else visSecciones">
    <div class="card m-4">
        <div class="grid mt-2">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">   
                <div style="display: flex; justify-content: end;" class="mt-2 pl-1 h-2rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-file" label="Nuevo"
                        pTooltip="Nueva Registro" tooltipPosition="bottom" (click)="onNuevo()" ></button>
                </div>  
                <button pButton type="button" (click)="getListar()" pTooltip="Actualizar Registros" tooltipPosition="bottom" 
                    class="font-semibold mt-2 justify-content-center h-2rem w-3rem w-auto" icon="pi pi-refresh"></button>               
                <div class="mb-1 py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-base font-semibold">CAJA CHICA</span>
                </div>  
                       
            </div>
        </div>

        <!-- <form [formGroup]="frmDatos" class="mb-2 -mr-3 mt-1 ml-3">
            <div class="p-fluid p-formgrid grid col-9 text-sm  border-round surface-border h-5rem -ml-6">
                <div class="md:col-6 sm:col-4 lg:col-2 -mt-4">
                    <label class="font-semibold text-blue-600">FECHA INICIO</label>
                    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaInicio" formControlName="fecini"
                        [readonlyInput]="true" appendTo="body" class="p-inputtext-sm">
                    </p-calendar>
                </div>
                <div class="md:col-6 sm:col-4 lg:col-2 -mt-4">
                    <label class="font-semibold text-blue-600">FECHA FIN</label>
                    <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" inputId="fechaFin" formControlName="fecfin"
                        [readonlyInput]="true" appendTo="body" class="p-inputtext-sm"></p-calendar>
                </div>
                <div class="field col-12 md:col-2 -mt-4 gap-2">
                    <button pButton type="button" (click)="getListar()" pTooltip="Buscar Registros" tooltipPosition="bottom" 
                        class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto h-auto" icon="pi pi-search"></button>
                    <button pButton type="button" (click)="getExportarExcel()" pTooltip="Exportar Excel" tooltipPosition="bottom" 
                        class="font-semibold mt-3 justify-content-center h-2.5rem w-3rem w-auto bg-green-500 ml-2" icon="pi pi-file-excel"></button>
                </div>
            </div>
        </form>  -->

        <p-table #dt1 [value]="lstCaja" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
            [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros" 
            styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-striped">
            <ng-template pTemplate="header">
                <tr class="text-sm" >
                    <th rowspan="2" style="width: 20px" class="bg-teal-50 border-1" >
                        <div class="flex justify-content-between align-items-center">
                            N°
                        </div>
                    </th>
                    <!-- <th rowspan="2" style="width: 100px;" class="bg-teal-50">CÓDIGO</th> -->
                    <th rowspan="2" style="width: 300px;" class="bg-teal-50 border-1">PERSONA</th>
                    <th colspan="3" style="width: 300px;" class="bg-teal-50">
                        <div [ngStyle]="{'width':'300px','text-align': 'center'}" >
                            COMPROBANTE
                        </div>
                    </th>
                    <th rowspan="2" style="width: 100px;" class="bg-teal-50 border-1">FECHA</th>
                    <th rowspan="2" style="width: 100px;" class="bg-teal-50 border-1">MOTIVO</th>
                    <th rowspan="2" style="width: 100px;" class="bg-teal-50 border-1">MONTO</th>
                    <th rowspan="2" style="width: 100px;" class="bg-teal-50 border-1">MONEDA</th>
                    <th rowspan="2" style="width: 100px;" class="bg-teal-50 border-1">ACCIÓN</th>
                </tr>
                <tr class="text-sm" >
                    <th colspan="1" class="bg-teal-50 border-1">
                        <div [ngStyle]="{'text-align': 'center'}">
                            TIPO
                        </div>
                    </th>
                    <th colspan="1" class="bg-teal-50 border-1">
                        <div [ngStyle]="{'text-align': 'center'}">
                            N°
                        </div>
                    </th>
                    <th colspan="1" class="bg-teal-50 border-1">
                        <div [ngStyle]="{'text-align': 'center'}">
                            RAZON SOCIAL
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dato let-rowIndex="rowIndex"> 
                <tr>
                    <td>{{rowIndex + 1}}</td>
                    <!-- <td>{{dato.idbanco}}</td> -->
                    <td>{{dato.nomusuario}}</td>
                    <td>
                        <div [ngStyle]="{'text-align': 'center'}">
                            {{dato.tipodoc}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'center'}">
                            {{dato.nrodoc}}
                        </div> 
                    </td>
                    <td>
                        <div [ngStyle]="{'text-align': 'center'}">
                            {{dato.razonsocial}}
                        </div> 
                    </td>
                    <td>{{dato.fechacaja}}</td>
                    <td>{{dato.motivo}}</td>
                    <td>
                        <div [ngStyle]="{'width':'70px','text-align':'right'}">
                            {{dato.monto | number: '0.2-2' }}
                        </div>
                    </td>
                    <td>{{dato.moneda}}</td>
                    <td>
                        <div class="flex align-items-center m:justify-content-end" [ngStyle]="{'width':'160px'}">
                            <button pButton pRipple type="button" icon="pi pi-eye" tooltipPosition="bottom" pTooltip="Ver Banco" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="onVer(dato)"></button>
                            <button pButton pRipple type="button" icon="pi pi-file-edit" tooltipPosition="bottom" pTooltip="Editar Banco" class="p-button-rounded p-button-text z-3 ml-auto sm:ml-0 " (click)="onEditar(dato)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Totals</td>
                    <td>{{lastYearTotal | currency: 'USD'}}</td>
                    <td>{{thisYearTotal | currency: 'USD'}}</td>
                </tr>
            </ng-template> -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No se encontraron registros.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="12">Cargando datos. Espere por favor.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>

<ng-template #visSecciones>

    <div class="p-fluid p-3 mb-1 card m-4" (OB_back)="getDetalle($event)">
        <div class="grid mt-2">
            <div class="flex justify-content-between col-12 -mt-3 gap-2">
                <div style="display: flex; justify-content: end;" class="mt-2 h-2rem">
                    <button pButton class="font-semibold p-button-outlined justify-content-center" icon="pi pi-backward" label="Regresar"
                        pTooltip="Regresar" tooltipPosition="left" (click)="getBack()" ></button>                    
                </div>
                <div class="mb-1 py-3 h-2rem flex border-round mt-2 p-2 fonthead w-full align-items-center">
                    <span class="text-base font-semibold">{{tituloDetalle}}</span>
                </div>       
            </div>
        </div>
        <app-c-cajachica-detalle [IA_data]="dataDet"></app-c-cajachica-detalle>
    </div>

</ng-template>

<p-toast></p-toast>
<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>
<p-confirmDialog header="Confirmation" key="confirm1" [style]="{width: '450px'}"
acceptButtonStyleClass="p-button p-button-info surface-border" rejectButtonStyleClass="p-button p-button-outlined surface-border text-900 "></p-confirmDialog>
