<div class="p-fluid mt-1">
    <div class="flex mb-2 -mt-3 gap-2 border-1 border-round surface-border p-2 bg-blue-50 h-3rem">
        <button *ngIf="verbtnPreliminar" pButton icon="pi pi-file" label="Vista Preliminar" class="p-button-outlined w-auto h-2rem" (click)="vistaPreliminar()"></button>
        <button *ngIf="verbtnOrden" pButton icon="pi pi-file" label="Ver Orden Compra" class="p-button-outlined w-auto h-2rem" (click)="vistaPreliminar()"></button>
        <p-splitButton *ngIf="verbtnAcciones" label="Acciones" [model]="menuItems" appendTo="body" styleClass="p-button-success h-2rem"></p-splitButton>
    </div>
    <div class="p-2">
        <span class="font-semibold text-blue-600 white-space-nowrap p-2 mt-3"> <i class="pi pi-user"></i>
            Datos Generales 
        </span>
    </div>
    

    <form [formGroup]="registerFormRegistro" class=" p-formgrid grid lg:col-7 col-12 card border-1 border-round surface-border m-2 p-0">      
        <div class="col-4 sm:col-6 lg:col-3 md:col-3 ">
            <label class="block text-900 font-bold mb-1">Orden</label>
            <span class="p-fluid ">
                <p-dropdown [options]="lstTipo" formControlName="codtipoorden" placeholder="Seleccionar Tipo" optionLabel="name" 
                optionValue="code" [readonly]=onlyRead class="p-inputtext-sm"></p-dropdown>
            </span>
        </div>
        <div class="col-4 sm:col-12 lg:col-3 md:col-12 justify-content-end">
            <label class="block text-900 font-bold mb-1">Fecha </label>
            <span class="p-input-icon-left w-auto p-fluid" style="height: 3rem;" >
                <p-calendar formControlName="fechaingreso" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="true" [required]="true" inputId="start"
                inputStyleClass="w-full cursor-pointer p-inputtext-sm" appendTo="body" [inputStyle]="{'height':'2rem'}" ></p-calendar>
            </span>
        </div>
        <div class=" sm:col-8 lg:col-3 md:col-12"></div>
        <div class=" col-4 sm:col-12 lg:col-3 md:col-12">
            <label class="block text-900 font-bold mb-1">N° OC</label>
            <span class="p-fluid">
                <input pInputText type="text" class="font-semibold" formControlName="codigonroorden" [readonly]=onlyRead class="p-inputtext-sm"/>
            </span>
        </div>


        <div class="col-12 -mt-5">
            <label class="block text-900 font-bold mb-1">Proyecto </label>                        
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstProyectos" formControlName="idproyecto" placeholder="Seleccionar Proyecto" optionLabel="s_nomproyecto" class="p-inputtext-sm"
                optionValue="idproyecto" appendTo="body" autoWidth="false" (onChange)="changeProyecto($event.value)" [readonly]=onlyRead></p-dropdown>
            </span>
        </div>
        <div class="col-5 sm:col-6 lg:col-5 md:col-6 -mt-4">                            
            <label class="block text-900 font-bold mb-1">Proveedor </label>                            
            <span>
                <p-dropdown [options]="lstProveedores" placeholder="Seleccionar Proveedor"  formControlName="idproveedor" class="p-inputtext-sm"
                optionLabel="razonsocial" optionValue="idcliente" appendTo="body" (onChange)="getContactos($event.value)" [readonly]=onlyRead></p-dropdown>            
            </span>
        </div>                         
        <div class="col-7 sm:col-6 lg:col-7 md:col-3 -mt-4">
            <div class="flex">
                <label class="block text-900 font-bold mb-1">Contacto </label>
            </div>                            
            <span>
                <p-dropdown [options]="lstContacto" formControlName="idcontacto" placeholder="Seleccionar Contacto" optionLabel="snombrecontacto" 
                optionValue="idcontacto" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm"></p-dropdown>
            </span>
        </div>
        <div *ngIf="verReferencia" class="col-4 field h-4rem mt-5 -mb-2">
            <label class="block text-900 font-semibold mb-1">N° Referencia</label>                        
            <span class="p-fluid">
                <input pInputText type="text" formControlName="sustentodoc" [readonly]=onlyRead class="p-inputtext-sm"/>
            </span>
        </div>
        
        <div class="sm:col-6 lg:col-4 md:col-3 col-6 -mt-3">
            <label class="block text-900 font-bold ">Moneda </label>  
            <span class="p-fluid mt-1">
                <p-dropdown [options]="lstMonedas" formControlName="idmoneda" placeholder="Seleccionar Moneda" optionLabel="desmoneda" 
                optionValue="idmoneda" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm"></p-dropdown>
            </span>                                      
        </div> 
        <div class="sm:col-6 lg:col-4 md:col-3 col-6 -mt-3">
            <label class="block text-900 font-semibold ">Forma de Pago </label>
            <span>
                <p-dropdown [options]="lstTermino" formControlName="codformapago" optionLabel="valoritem" placeholder="Seleccionar..."
                optionValue="iditem" appendTo="body" [readonly]=onlyRead class="p-inputtext-sm"></p-dropdown>
            </span>
        </div> 
        <div class="col-6 sm:col-12 lg:col-3 md:col-12 justify-content-end -mt-3">
            <label class="block text-900 font-semibold">Fecha Entrega</label>
            <span class="p-input-icon-left w-auto p-fluid " style="height: 3rem;">
                <p-calendar formControlName="fecentrega" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="true" [required]="true" inputId="start"
                inputStyleClass="w-full cursor-pointer p-inputtext-sm" appendTo="body"></p-calendar>
            </span>
        </div>
        <div class="sm:col-6 lg:col-12 md:col-3 mt-1 col-12 -mt-4">                        
            <label class="block text-900 font-semibold mb-1">Terminos para el Pago de Factura</label>                        
            <span class="p-fluid">
                <textarea type="text" formControlName="terminosdepago" pInputTextarea [rows]="4"
                style="resize: none" class="w-full mt-1" [readonly]=onlyRead class="p-inputtext-sm"></textarea>                       
            </span>
        </div>  
        <div class="sm:col-6 lg:col-12 md:col-3 col-12 -mt-4">                        
            <label class="block text-900 font-semibold mb-1">Condiciones Comerciales </label>                        
            <span class="p-fluid">
                <textarea id="description" type="text" formControlName="condicionescomerciales" pInputTextarea [rows]="4"
                style="resize: none" class="w-full mt-1" [readonly]=onlyRead class="p-inputtext-sm"></textarea>                       
            </span>
        </div>                   
        <div class="sm:col-6 lg:col-12 md:col-3 col-12 -mt-4">
            <label class="block text-900 font-semibold">Observación</label>                        
            <span class="p-fluid">
                <textarea type="text" pInputTextarea [rows]="3" formControlName="observacion" style="resize: none" class="w-full" id="observacion" 
                [readonly]=onlyRead class="p-inputtext-sm"></textarea>
            </span>
        </div>                   
    </form>

    <div class="p-2">
        <span class="font-semibold text-blue-600 white-space-nowrap p-2 mt-3"> <i class="pi pi-check"></i>
            Items 
        </span>
    </div>
    

    <div class=" w-full">
        <p-table [value]="lstItemOC" [rows]="10" [rowHover]="true" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true" [showCurrentPageReport]="true" [resizableColumns]="true" [rowsPerPageOptions]="[10,25,50]"
        currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
         styleClass="p-datatable-sm card border-1 border-round surface-border p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr class="text-sm">
                            <th [ngStyle]="{'width':'20px'}" class="surface-200">N°</th>
                            <th class="surface-200">PRODUCTO</th>
                            <th class="surface-200">DESCRIPCIÓN</th>
                            <th class="surface-200">MARCA</th>
                            <!-- <th class="surface-200">N° SERIE</th> -->
                            <th class="surface-200">SKU</th>
                            <th class="surface-200">N° CONTRATO</th>
                            <th class="surface-200">F. INICIO</th>
                            <th class="surface-200">F. FIN</th>
                            <th class="surface-200">U. MED</th>
                            <th class="surface-200">P. UNI.</th>
                            <th class="surface-200">CANT.</th>
                            <th class="surface-200">TOTAL</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                        <tr class="text-sm">
                            <td>{{rowIndex + 1}}</td>
                            <td>{{ product.nomtipoprod | uppercase}}</td>
                            <td>{{(product.descripcion.length > 50 ) ? ((product.descripcion ).slice(0, 50) + '...') : product.descripcion }} </td>
                            <td>{{ product.nommarca | uppercase}}</td>
                            <!-- <td>{{ product.serialnumber }}</td> -->
                            <td>{{ product.sku }}</td>
                            <td>{{ product.nrocontrato }}</td>
                            <td>{{ product.fecini }}</td> <!-- | date: 'dd/MM/yyyy' -->
                            <td>{{ product.fecfin }}</td>
                            <td>{{ product.nomunidad }}</td>
                            <td>{{ product.preciocosto | number: '0.2'}}</td>
                            <td>{{ product.cantidad }}</td>
                            <td>{{ product.preciocostototal | number: '0.2'}}</td>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="11" class="text-right">Sub Total: </td>
                            <td>{{s_monto | number: '0.2'}}</td>
                        </tr>
                        <tr>
                            <td colspan="11" class="text-right">IGV: </td>
                            <td>{{s_igv | number: '0.2'}}</td>
                        </tr>
                        <tr>
                            <td colspan="11" class="text-right">Total: </td>
                            <td>{{s_monto_total | number: '0.2'}}</td>
                        </tr>
                    </ng-template>
                </p-table> 
    </div>

    <div class="p-2">
        <span class="font-semibold text-blue-600 white-space-nowrap p-2 mt-3"> <i class="pi pi-paperclip"></i>
            Adjuntos 
        </span>
    </div>
    

    <div class="card w-full"> 
        <app-c-adjuntos *ngIf="verAdjunto" [IA_data]="dataAdjunto" ></app-c-adjuntos>                
    </div>
    
</div>

<app-c-progress-spinner *ngIf="blockedDocument" [IS_mensaje]="mensajeSpinner"></app-c-progress-spinner>