<form [formGroup]="frmDatos" class="p-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="m-0 text-primary">{{titulo}}</h5>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="field" style="margin-top:1rem; margin-bottom:0.15rem;">
                    <div class="flex flex-row gap-4">
                        <div class="field-radiobutton flex align-items-center">
                            <p-radioButton name="codtipoorden" value="OC" formControlName="codtipoorden"
                                inputId="reserva" (onClick)="getChangeTipoOrden($event.value)"></p-radioButton>
                            <label for="reserva" class="ml-2">Reserva</label>
                        </div>
                        <div class="field-radiobutton flex align-items-center">
                            <p-radioButton name="codtipoorden" value="BL" formControlName="codtipoorden"
                                inputId="bloqueo" (onClick)="getChangeTipoOrden($event.value)"></p-radioButton>
                            <label for="bloqueo" class="ml-2">Bloqueo</label>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="visSeccionReserva">
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">
                            <i class="pi pi-calendar text-orange-600 mr-2"></i>
                            Fecha Registro
                        </label>
                        <p-calendar formControlName="fechaingreso" dateFormat="dd/mm/yy" [showTime]="false"
                            [showIcon]="true" [required]="true" inputStyleClass="w-full" appendTo="body"
                            styleClass="w-full" [readonlyInput]="true">
                        </p-calendar>
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">ID Registro</label>
                        <input pInputText type="text" class="w-full surface-100 font-semibold"
                            formControlName="idordencompra" readonly />
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">
                            Comprobante <span class="text-red-500 font-bold">*</span>
                        </label>
                        <p-dropdown [options]="lstComprobante" formControlName="tipodoc_ctb"
                            placeholder="Seleccione tipo documento" optionLabel="nomitemsunat" optionValue="codsunat"
                            styleClass="w-full">
                        </p-dropdown>
                    </div>
                </div>
            </ng-container>
            <div class="col-12 md:col-4">
                <div class="field">
                    <label class="block text-900 font-medium">
                        <i class="pi pi-calendar text-orange-600 mr-2"></i>
                        Fecha Ingreso
                    </label>
                    <p-calendar formControlName="fecha_ini" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="true"
                        [required]="true" inputStyleClass="w-full" appendTo="body" styleClass="w-full"
                        [minDate]="minimaFechaDesde" [readonlyInput]="true" (onSelect)="changeFechaDesde($event)">
                    </p-calendar>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="field">
                    <label class="block text-900 font-medium">
                        <i class="pi pi-calendar text-orange-600 mr-2"></i>
                        Fecha Salida
                    </label>
                    <p-calendar formControlName="fecha_fin" dateFormat="dd/mm/yy" [showTime]="false" [showIcon]="true"
                        [required]="true" inputStyleClass="w-full" appendTo="body" styleClass="w-full"
                        [minDate]="minimaFechaHasta" [readonlyInput]="true" (onSelect)="changeFechaHasta($event)">
                    </p-calendar>
                </div>
            </div>

            <div class="col-12 md:col-4">
                <div class="field">
                    <label class="block text-900 font-medium">N° Días</label>
                    <input pInputText type="text" formControlName="nrodias" class="w-full text-center font-semibold"
                        (blur)="addDiasFec()" (keydown.enter)="addDiasFec()"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="0" />
                </div>
            </div>

            <ng-container *ngIf="visSeccionReserva">
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label class="block text-900 font-medium">Tipo Documento</label>
                        <p-dropdown [options]="dropdownItemsTipNro" formControlName="idtipodoc" optionLabel="destipodoc"
                            placeholder="Seleccionar Documento" optionValue="idtipodoc"
                            (onChange)="cambioTipoDoc($event.value)" inputStyleClass="w-full" appendTo="body"
                            styleClass="w-full"></p-dropdown>
                        <!-- <p class="p-error" *ngIf="submitted && formCliente.idtipodoc.errors" >Tipo Documento es requerido.</p> -->
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="field">
                        <label class="block text-900 font-medium">
                            {{tituloTipoDocumento}} <span class="text-red-500 font-bold">*</span>
                        </label>
                        <span class="p-input-icon-right w-full">
                            <i class="pi pi-search cursor-pointer text-primary" pTooltip="Buscar por RUC"
                                tooltipPosition="bottom" (click)="getBusquedaRUC()"></i>
                            <input pInputText type="text" formControlName="nrodocumento" class="w-full"
                                placeholder="Ingrese {{tituloTipoDocumento}}"
                                (keydown.enter)="$event.preventDefault(); getBusquedaRUC()" #nrodocumentoInput />
                        </span>
                    </div>
                </div>

                <div class="col-12 md:col-12">
                    <div class="field">
                        <label class="block text-900 font-medium">
                            Cliente
                            <i *ngIf="esVisEditPersona" class="pi pi-user-edit cursor-pointer text-primary ml-2"
                                pTooltip="Editar Cliente" tooltipPosition="right" (click)="editPersona()"></i>
                        </label>
                        <p-dropdown [options]="lstCliente" placeholder="Seleccione cliente..."
                            formControlName="idproveedor" styleClass="w-full" optionLabel="razonsocial"
                            optionValue="idcliente" appendTo="body" [filter]="true" [showClear]="true"
                            (onChange)="getDatos($event.value)">
                        </p-dropdown>
                    </div>
                </div>

                <div class="col-12">
                    <div class="field">
                        <label class="block text-900 font-medium">Dirección</label>
                        <input pInputText type="text" formControlName="direccion" readonly class="w-full surface-100"
                            placeholder="Dirección del cliente" />
                    </div>
                </div>
            </ng-container>
            <div class="col-12">
                <div class="field">
                    <label class="block text-900 font-medium">Observación</label>
                    <textarea pInputTextarea [rows]="3" formControlName="observacion" style="resize: none"
                        class="w-full" placeholder="Ingrese observaciones adicionales...">
                    </textarea>
                </div>
            </div>
        </div>

        <ng-container *ngIf="esExtranjero">
            <div class="col-12 h-4rem">
                <div class="flex align-items-center justify-content-start h-full">
                    <p-checkbox formControlName="indtam" inputId="ny" [binary]="true" class="align-items-center"
                        (onChange)="changeAplicaTAM($event.checked)" />
                    <p class="m-0 ml-2">TAM</p>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">
                            <i class="pi pi-calendar text-orange-600 mr-2"></i>
                            Fecha Ingreso
                        </label>
                        <p-calendar formControlName="fecingresopais" dateFormat="dd/mm/yy" [showTime]="false"
                            [showIcon]="true" [required]="true" inputStyleClass="w-full" appendTo="body"
                            styleClass="w-full" [readonlyInput]="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">Tiempo de Permanencia</label>
                        <input pInputText type="text" formControlName="tiempopermanencia"
                            class="w-full text-center font-semibold"
                            oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="0" />
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">&nbsp;</label>
                        <p-dropdown [options]="lsTipoTAM" placeholder="Seleccione..." formControlName="tipopermanencia"
                            styleClass="w-full" optionLabel="descripcion" optionValue="codigo" appendTo="body"
                            [filter]="true" [showClear]="true">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label class="block text-900 font-medium">Codigo de Verificación</label>
                        <input pInputText type="text" formControlName="codverificaciontam"
                            class="w-full text-center font-semibold" placeholder="" />
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</form>
<div class="flex justify-content-end mb-2 -mt-3 gap-2 border-1 border-round surface-border p-2 bg-blue-50">
    <button pButton icon="pi pi-save" label="Grabar" class="p-button-primary w-auto h-2rem"
        (click)="guardar()"></button>
</div>

<p-blockUI [blocked]="blockedDocument">
    <div class="flex align-items-center justify-content-center">
        <p-progressSpinner></p-progressSpinner>
        <span class="ml-2">{{mensajeSpinner}}</span>
    </div>
</p-blockUI>
<p-toast></p-toast>